<div class="reveal gallery animated fadeIn full" id="beez-gallery" data-reveal data-close-on-click="false" data-animation-in="fade-in" data-animation-out="fade-out" data-additional-overlay-classes="gallery">

  <div class="row expanded">
    <div class="small-12 columns">
      <div class="beez-gallery">
        {{#each global.photos-by}}
          <div><img src="{{img-url}}" alt=""></div>
        {{/each}}

      </div>
      <div class="row expanded">
        <div class="small-12 columns animated fadeIn">
          <!-- <h4>Lorem ipsum dolor sit amet</h4> -->
          <p>Photo by: {{photographer}}</p>
        </div>
      </div>
      <div class="slider-nav">
        {{#each global.photos-by}}
          <div><img src="{{img-url}}" alt=""></div>
        {{/each}}
      </div>
    </div>
  </div>



  <button class="close-button" data-close aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>


</div>
