<div class="life-at-bx  promo-wrapper animated v2" style="background-color:#8BB018;">
  <div class="small-12 small-centered columns">
    <div class="row promo-content">
      <div class="small-11 small-centered columns">
        <h4>PROMOTION</h4>
        <h4 class="promo-title">Web App Usability Analysis</h4>
        <p>For $1,000 we will identify 10 usability improvements for your Web App. And pay only if you like what we have to say.</p>

        <p>Choose the areas of your Application you'd like us to focus on...</p>

        <button type="button" class="button white small float-center has-tip top"  data-tooltip aria-haspopup="true" title="Let get this party started."  data-open="promotion-revel"><strong>i'm interested</strong></button>
      </div>
    </div>
  </div>
</div>
