<div class="row expanded cookie-notifications  hide animated fadeInUp" id="cookie-ui">
  <div class="small-12 medium-10 large-8 columns small-centered">
    <div class="row">
      <div class="small-12 large-9 column">
        <p>
          This site uses cookies to store information on your computer. Some are essential to make our site work; others help us improve the user experience. By using the site, you consent to the placement of these cookies. Read our <a href="{{root}}privacy" target="_blank">Privacy Policy</a> to learn more.
        </p>
      </div>
      <div class="small-12 large-3 column text-right">
        <a href="javascript:void(0)" class="button small green cookie-cta">Accept</a>
      </div>
      <div class="small-2 column hide">
        <i class="fa fa-times cookie-cta" aria-hidden="true"></i>
      </div>
    </div>

  </div>
</div>
