<div class="row expanded who-callout-wrapper">
  <div class="small-12 small-centered columns">
    <div class="row" data-equalizer data-equalize-on="medium">
      <div class="small-12 medium-4 columns" data-equalizer-watch>
        <h4>Events</h4>
        <p>Please join us at the following events.
          Sign up for our updates to be always up-to-date on the whereabouts of the Bee team.</p>
      </div>
      <div class="small-12 medium-4 columns" data-equalizer-watch>
        <div class="card-wrapper">
          <a href="https://www.filemaker.com/learning/devcon/" target="_blank">
          <div class="image-wrapper" style="background-image: url('assets/img/DevCon2017-Poster-P.jpg');"> </div>
          <p class="title">Join Us @ DEFCON 2017</p>
          </a>
        </div>
      </div>
      <div class="small-12 medium-4 columns" data-equalizer-watch>
        <div class="card-wrapper layered two">
          <a href="https://railsconf.com" target="_blank">
          <div class="image-wrapper" style="background-image: url('assets/img/railsconf2017.jpg');"></div>
          <div class="description-wrapper animated fadeIn">
            <div class="description-text">
              <div class="span"><p>Join Us @ RailsConf 2017</p>
              </div>
            </div>
          </div>
          </a>
        </div>
      </div>

      <div class="small-12 medium-4 columns">
        <h4>newsletters</h4>
        <p>Beezwax newsletters offer our thoughts, company news, events, product info, and some of the tips and technical insights our developers share in the community through blogs and social media.
        </p>
        <div class="input-group">
          <input class="input-group-field" type="email" placeholder="email">
          <span class="input-group-label button small tiny green"> <i class="fa fa-paper-plane" aria-hidden="true"></i> </span>
        </div>
        <fieldset>
          <input id="checkbox1" type="checkbox" checked><label for="checkbox1">Events Updates</label>
          <input id="checkbox2" type="checkbox" checked><label for="checkbox2">Newletters</label>
        </fieldset>
      </div>
      <div class="small-12 medium-2 columns">
        <div class="card-wrapper card-1">
          <a href="newsletters.html">
            <div class="image-wrapper" style="background-image: url('https://beezwax.net/system/attachments/304/original/june-newsletter-masthead.png')"> </div>
            <p class="title">Strength in numerics</p>
          </a>
        </div>
      </div>
      <div class="small-12 medium-2 columns">
        <div class="card-wrapper card-1">
          <a href="newsletters.html">
            <div class="image-wrapper"  style="background-image: url('../assets/img/headers/inspector_pro.jpg')"> </div>
            <p class="title">InspectorPro 6.5 preview!</p>
          </a>
        </div>
      </div>
      <div class="small-12 medium-2 columns">
        <div class="card-wrapper card-1">
          <a href="newsletters.html">
          <div class="image-wrapper"  style="background-image: url('https://www.beezwax.net/system/attachments/257/original/may2015-newsletter_image.jpg')"> </div>
          <p class="title">Turning insight into rich information systems.</p></a>
        </div>
      </div>
      <div class="small-12 medium-2 columns">
        <div class="card-wrapper card-1">
          <a href="newsletters.html">
          <div class="image-wrapper" style="background-image: url('https://www.beezwax.net/system/previews/2/thumb/jul2012.jpg?1447394592')"> </div>
          <p class="title">Web, Mobile, Data, Action!</p></a>
        </div>
      </div>
    </div>
  </div>
</div>
