<div class="row user-experience-wrapper">
  <div class="small-12 small-centered columns">
    <h4 class="text-center">Experience Level</h4>
      <p>Select the level of detail you would like to see of the services we can provide you.</p>
      <label>
        <select id="exp-level">
          <option value="Select Level" selected disabled></option>
          <option value="services-beginner.html">Beginner</option>
          <option value="services.html">Inqusitive</option>
          <option value="services.html">Advanced</option>
        </select>
      </label>
      <!-- <p>or</p>
      <ol class="progress-indicator">
        <li class="is-complete" data-step="1">
        </li>
        <li class="is-complete" data-step="2">
        </li>
        <li class="is-current" data-step="3">
        </li>
      </ol> -->

      <!-- <ol class="progress-indicator">
        <li class="is-complete" data-step="1">
        </li>
        <li class="is-current" data-step="2">
        </li>
        <li class="" data-step="3">
        </li>
      </ol>

      <ol class="progress-indicator">
        <li class="is-complete" data-step="">
        <span>Beginner</span>
        </li>
        <li class="is-current" data-step="">
        <span>Inqusitive</span>
        </li>
        <li class="" data-step="">
        <span>Advanced</span>
        </li>
      </ol> -->
      <small>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient.</small>
  </div>
</div>
