<div class="row functional-areas-wrapper">
  <div class="small-12 small-centered columns">
    <h2>Functional Areas</h2>
    <p>There are many kinds of narratives and organizing principles. Science is driven by evidence gathered in experiments, and by the falsification of extant theories and their replacement with newer, asymptotically truer, ones. </p>
  </div>
  <div class="small-12 columns">
    <div class="functional-areas-list-wrapper">
      <ul class="functional-areas-list">
        <li class="functional-area"> Account Management
          <div class="description-wrapper">
            <div class="description">
              <p>v1 Managing sales and relationships with clients and customers.</p>

              <p>v2 Managing information, transactions, communications and relationships with clients and customers. Effective account management leads to increased sales and loyal customers.</p>

              <div class="arrow-down"></div>
            </div>
          </div>
        </li>
        <li class="functional-area">
        Accounting
        <div class="description-wrapper">
          <div class="description">
            <p>Involves the recording, processing, analysis, and reporting of the financials of a business or other organization.</p>

            <div class="arrow-down"></div>
          </div>
        </div>
        </li>
        <li class="functional-area">
        Administration
        <div class="description-wrapper">
        <div class="description">
        <p>Managing operations and logistics, including people and other key resources.</p>

        <div class="arrow-down"></div>
        </div>
        </div>
        </li>
        <li class="functional-area">
        Advertising
        <div class="description-wrapper">
        <div class="description">
        <p>Working the media and the messages, to support marketing initiatives.</p>

        <div class="arrow-down"></div>
        </div>
        </div>
        </li>
        <li class="functional-area">
        Asset Management
        <div class="description-wrapper">
        <div class="description">
        <p>Includes the management of tangible and digital resources, generally in a database system.</p>

        <div class="arrow-down"></div>
        </div>
        </div>
        </li>
        <li class="functional-area">
        Big Data
        <div class="description-wrapper">
        <div class="description">
        <p>Larger data sets require new methods to help with discovery, analysis, storage/search, querying and visualization of that data.</p>

        <div class="arrow-down"></div>
        </div>
        </div>
        </li>
        <li class="functional-area">
        Billing/Invoicing
        <div class="description-wrapper">
        <div class="description">
        <p>Making sure payments are solicited and processed efificently.</p>

        <div class="arrow-down"></div>
        </div>
        </div>
        </li>
        <li class="functional-area">
        Business Continuity
        <div class="description-wrapper">
        <div class="description">
        <p>Organizations analyze risk, aim to reduce vulnerabilities, and look to improve their ability to continue operations following disaster or disruption.</p>

        <div class="arrow-down"></div>
        </div>
        </div>
        </li>
        <li class="functional-area">
        Calendaring
        <div class="description-wrapper">
        <div class="description">
        <p>Organizing time.</p>

        <div class="arrow-down"></div>
        </div>
        </div>
        </li>
        <li class="functional-area">
        Communications
        <div class="description-wrapper">
        <div class="description">
        <p>Systems supporting the work of people who manage communications, both internal and external. </p>

        <div class="arrow-down"></div>
        </div>
        </div>
        </li>
        <li class="functional-area">
        Compliance
        <div class="description-wrapper">
        <div class="description">
        <p>Organizations seek to achieve regulatory compliance by gathering information and understanding of the legal landscape governing their industry. Systems and procedures can be developed to manage the information and projects revolving around Compliance.</p>

        <div class="arrow-down"></div>
        </div>
        </div>
        </li>
        <li class="functional-area">
        Contact Management
        <div class="description-wrapper">
        <div class="description">
        <p>The process and system of managing data and transactions of all contacts for an organization to facilitate things like sales and marketing.</p>

        <div class="arrow-down"></div>
        </div>
        </div>
        </li>
        <li class="functional-area">
        Content Management
        <div class="description-wrapper">
        <div class="description">
        <p>Encompasses a broad array of tasks and tools for creating, storing, retrieving and editing content. Much of the web is driven by content management systems.</p>

        <div class="arrow-down"></div>
        </div>
        </div>
        </li>
        <li class="functional-area">
        Contract Management
        <div class="description-wrapper">
        <div class="description">
        <p>Business organizations make agreements with other businesses and individuals. The resulting contracts need to be created, negotiated, documented, tracked, enforced and revised.</p>

        <div class="arrow-down"></div>
        </div>
        </div>
        </li>
        <li class="functional-area">
        Credit Card Processing
        <div class="description-wrapper">
        <div class="description">
        <p>Processing payments is a fundamental part of E-commerce. Credit card and other payment processing involves interaction with payment gateways and authorization services and requires high levels of security for the safety of customer information.</p>

        <div class="arrow-down"></div>
        </div>
        </div>
        </li>
        <li class="functional-area">
        Curriculum
        <div class="description-wrapper">
        <div class="description">
        <p>Curriculum includes the content, resources, and processes that support learning in an education or business training environment. Custom software can help develop, manage and track such curriculum.</p>

        <div class="arrow-down"></div>
        </div>
        </div>
        </li>
        <li class="functional-area">
        Customer Relationship Management
        <div class="description-wrapper">
        <div class="description">
        <p>Manage the details of customers and track sales and service interactions. The goal is often to improve the relationship and, as a result, increase sales and customer retention.</p>

        <div class="arrow-down"></div>
        </div>
        </div>
        </li>
        <li class="functional-area">
        Document Generation
        <div class="description-wrapper">
        <div class="description">
        <p>Generating documents, for distribution or storage, as well as managing related data, assets and workflow.</p>

        <div class="arrow-down"></div>
        </div>
        </div>
        </li>
        <li class="functional-area">
        Document Management
        <div class="description-wrapper">
        <div class="description">
        <p>Storing and tracking documents, along with managing related metadata, assets and workflow.</p>

        <div class="arrow-down"></div>
        </div>
        </div>
        </li>
        <li class="functional-area">
        Email Marketing
        <div class="description-wrapper">
        <div class="description">
        <p>We design and develop visual and process solutions for Email marketing for all type of clients and campaigns.</p>

        <div class="arrow-down"></div>
        </div>
        </div>
        </li>
        <div class="full-list">
          <li class="functional-area">
          Event Management
          <div class="description-wrapper">
          <div class="description">
          <p>Includes end-to-end development and tracking of large events, including concept, branding, promotion, scheduling, budgeting, and site and resource coordination.</p>

          <div class="arrow-down"></div>
          </div>
          </div>
          </li>
          <li class="functional-area">
          Facilities Management
          <div class="description-wrapper">
          <div class="description">
          <p>Involves the management of the spaces and infrastructure of an organization or business and the people and activities that take place in them.</p>

          <div class="arrow-down"></div>
          </div>
          </div>
          </li>
          <li class="functional-area">
          Finance
          <div class="description-wrapper">
          <div class="description">
          <p>Supporting the organization's financial structure by managing things like funding, capital, analysis and forecasting.</p>

          <div class="arrow-down"></div>
          </div>
          </div>
          </li>
          <li class="functional-area">
          Forecasting
          <div class="description-wrapper">
          <div class="description">
          <p>Forecasting uses data to predict potential outcomes as part of the basis for assessing risk and uncertainty. Forecasting is a vital component of organizational decision making.</p>

          <div class="arrow-down"></div>
          </div>
          </div>
          </li>
          <li class="functional-area">
          Fundraising
          <div class="description-wrapper">
          <div class="description">
          <p>The acquisition of material and financial resources from donors to fund initiatives of the organization. A.K.A. SHOW ME THE MONEY.</p>

          <div class="arrow-down"></div>
          </div>
          </div>
          </li>
          <li class="functional-area">
          Globalization
          <div class="description-wrapper">
          <div class="description">
          <p>Creation of software that helps manage localization and internationalization of content.</p>

          <div class="arrow-down"></div>
          </div>
          </div>
          </li>
          <li class="functional-area">
          Hardware Engineering
          <div class="description-wrapper">
          <div class="description">
          <p>Is the iterative process involved in the design and testing of technologica products.  By necessity, hardware engineering must work closely with software and electrical engineering processes.</p>

          <div class="arrow-down"></div>
          </div>
          </div>
          </li>
          <li class="functional-area">
          Human Resources
          <div class="description-wrapper">
          <div class="description">
          <p>Involves the management of people, generally employees, and their relationship to the business organization. HR departments are tasked with hiring decisions, scheduling, internal policy development and enforcement, external compliance and benefit development and administration.</p>

          <div class="arrow-down"></div>
          </div>
          </div>
          </li>
          <li class="functional-area">
          IT Services
          <div class="description-wrapper">
          <div class="description">
          <p>All the wonderful, magical things you can do with technology rely upon the underlying hardware, software and networking, and a plan to manage it all.</p>

          <div class="arrow-down"></div>
          </div>
          </div>
          </li>
          <li class="functional-area">
          Incident Tracking
          <div class="description-wrapper">
          <div class="description">
          <p>Is the record of the details, involved parties and communication trail with respect to events that occur and potentially need to be reported.</p>

          <div class="arrow-down"></div>
          </div>
          </div>
          </li>
          <li class="functional-area">
          Information Security
          <div class="description-wrapper">
          <div class="description">
          <p>Is the broad discipline tasked with ensuring the physical and digital security of stored information, with the aim of preventing access, theft, manipulation, duplication and extortion. Information security practices can be applied to systems used by teams in the enterprise, and also to hardware and software product development.</p>

          <div class="arrow-down"></div>
          </div>
          </div>
          </li>
          <li class="functional-area">
          Intellectual Property
          <div class="description-wrapper">
          <div class="description">
          <p>Oversees the handling of copyrights, trademarks, patents, and other legal rights of value to an organization.</p>

          <div class="arrow-down"></div>
          </div>
          </div>
          </li>
          <li class="functional-area">
          Inventory Management
          <div class="description-wrapper">
          <div class="description">
          <p>Manage tangible items -- track quantity and details such as description, cost, exact location. Get insight into the flow and availability of inventory and interface with sales systems.</p>

          <div class="arrow-down"></div>
          </div>
          </div>
          </li>
          <li class="functional-area">
          Issue Tracking
          <div class="description-wrapper">
          <div class="description">
          <p>Software systems can manage tasks and communication, ensuring that the people involved with a project have good grasp of who is doing what and when.</p>

          <div class="arrow-down"></div>
          </div>
          </div>
          </li>
          <li class="functional-area">
          Laboratory Management
          <div class="description-wrapper">
          <div class="description">
          <p>Beakers and potions and things that see really, really, really small things. It's a lot to keep track of. Oh, and those white coats.</p>

          <p>But seriously, labs are complex entities requirement management of supplies, equipment, personnel, projects, workflow, research, intellectual property and compliance.</p>

          <div class="arrow-down"></div>
          </div>
          </div>
          </li>
          <li class="functional-area">
          Legal
          <div class="description-wrapper">
          <div class="description">
          <p>Advisors and advocates on all legal subjects, from contracts and IP, through compliance and litigation.</p>

          <div class="arrow-down"></div>
          </div>
          </div>
          </li>
          <li class="functional-area">
          Legal Notices
          <div class="description-wrapper">
          <div class="description">
          <p>Building, documenting and tracking official work output and communications by Legal department experts.</p>

          <div class="arrow-down"></div>
          </div>
          </div>
          </li>
          <li class="functional-area">
          Manufacturing
          <div class="description-wrapper">
          <div class="description">
          <p>The process of taking raw materials and products and transforming them into something new to supply to the market. Manufacturing can include a mix of human and technological solutions and ranges from simple to complex. Manufacturing process is subject to a constant drive toward improvement of efficiency.</p>

          <div class="arrow-down"></div>
          </div>
          </div>
          </li>
          <li class="functional-area">
          Market Research
          <div class="description-wrapper">
          <div class="description">
          <p>Research to collect data, both quantitative and qualitative, to aid in decisions about marketing initiatives.</p>

          <div class="arrow-down"></div>
          </div>
          </div>
          </li>
          <li class="functional-area">
          Marketing
          <div class="description-wrapper">
          <div class="description">
          <p>The activities associated with promoting an organization or event. Marketing encompasses branding, advertising, print media, digital media and advertising in all of its forms. Effective marketing leads to sales and customer retention.</p>

          <div class="arrow-down"></div>
          </div>
          </div>
          </li>
          <li class="functional-area">
          Office Management
          <div class="description-wrapper">
          <div class="description">
          <p>Handling a diverse set of tasks which, depending on the office size and organization, can be vary as to administrative and operational scope.</p>

          <div class="arrow-down"></div>
          </div>
          </div>
          </li>
          <li class="functional-area">
          Operations
          <div class="description-wrapper">
          <div class="description">
          <p>Operations, broadly defined, typically executes the functional strategy for an organization. This includes everything from development and design through production, manufacturing and logistics.</p>

          <div class="arrow-down"></div>
          </div>
          </div>
          </li>
          <li class="functional-area">
          Ordering Systems
          <div class="description-wrapper">
          <div class="description">
          <p>Systems supporting purchasing, procurement and global supply management.</p>

          <div class="arrow-down"></div>
          </div>
          </div>
          </li>
          <li class="functional-area">
          POS
          <div class="description-wrapper">
          <div class="description">
          <p>Point of sale (POS) solutions help a business process customer purchases and payments, both standalone (e.g. cash register) or in conjunction with larger E-commerce systems. POS also typically integrates with other systems, including inventory, invoicing, fulfillment/shipping, CRM.</p>

          <div class="arrow-down"></div>
          </div>
          </div>
          </li>
          <li class="functional-area">
          Partnership Management
          <div class="description-wrapper">
          <div class="description">
          <p>Managing sales partnerships, co-marketing and related B2B contracts.</p>

          <div class="arrow-down"></div>
          </div>
          </div>
          </li>
          <li class="functional-area">
          Print Production
          <div class="description-wrapper">
          <div class="description">
          <p>Print production takes creative designs, especially digital, and streamlines the process for the physical production of things like cards, brochures, books, and even 3-D materials. Custom software can help manage the projects, resources and logistics for this type of production.</p>

          <div class="arrow-down"></div>
          </div>
          </div>
          </li>
          <li class="functional-area">
          Process Design
          <div class="description-wrapper">
          <div class="description">
          <p>Defining the planning, measurement and refinement of business processes with a goal to improve strategy, resources and operations across an organization.</p>

          <div class="arrow-down"></div>
          </div>
          </div>
          </li>
          <li class="functional-area">
          Process Management
          <div class="description-wrapper">
          <div class="description">
          <p>All organizations have processes, which need planning, monitoring, measurement and a strategy for continued operation and improvement.</p>

          <div class="arrow-down"></div>
          </div>
          </div>
          </li>
          <li class="functional-area">
          Procurement Management
          <div class="description-wrapper">
          <div class="description">
          <p>Managing the sourcing, bidding, buying and other business activities to procure goods and services for an organization.</p>

          <div class="arrow-down"></div>
          </div>
          </div>
          </li>
          <li class="functional-area">
          Program Management
          <div class="description-wrapper">
          <div class="description">
          <p>Program management aims to improve process and performance for any set of related projects.</p>

          <div class="arrow-down"></div>
          </div>
          </div>
          </li>
          <li class="functional-area">
          Project Management
          <div class="description-wrapper">
          <div class="description">
          <p>The coordination of all of the activities, resources, and information that drive an individual, team, or organization to successfully complete projects.</p>

          <div class="arrow-down"></div>
          </div>
          </div>
          </li>
          <li class="functional-area">
          Recruitment
          <div class="description-wrapper">
          <div class="description">
          <p>v.1 Handling the identification and outreach to job candidates for an organizaton.</p>

          <p>v.2 Recruitment is in essence the marketing of an organization to potential job candidates. Recruiting efforts should effectively communicate the core values of the company with the goal of attracting and engaging candidates in the hiring process.</p>

          <div class="arrow-down"></div>
          </div>
          </div>
          </li>
          <li class="functional-area">
          Registration
          <div class="description-wrapper">
          <div class="description">
          <p>A subset of event management, registration typically involves process of adding a person to an event and includes the gathering of personal and financial data to complete the transaction.</p>

          <div class="arrow-down"></div>
          </div>
          </div>
          </li>
          <li class="functional-area">
          Research and Development
          <div class="description-wrapper">
          <div class="description">
          <p>Activities that focus on innovation, whether generalized discovery or development of new products and services.</p>

          <div class="arrow-down"></div>
          </div>
          </div>
          </li>
          <li class="functional-area">
          Royalties Management
          <div class="description-wrapper">
          <div class="description">
          <p>Royalties management often involves tracking income, contracts, audits and various reports. Custom software can help develop, manage and track such data.</p>

          <div class="arrow-down"></div>
          </div>
          </div>
          </li>
          <li class="functional-area">
          Sales
          <div class="description-wrapper">
          <div class="description">
          <p>Supports and often leads an organization's revenue generation, working with clients/customers and potentially other sales channels such as distributors, partners and e-commerce. </p>

          <div class="arrow-down"></div>
          </div>
          </div>
          </li>
          <li class="functional-area">
          Scheduling
          <div class="description-wrapper">
          <div class="description">
          <p>All kinds of things - people, events, assets, spaces, projects, tasks - can be scheduled in relationship to one another. Scheduling serves as a time-based resource for planning, reporting, and executing.</p>

          <div class="arrow-down"></div>
          </div>
          </div>
          </li>
          <li class="functional-area">
          Security
          <div class="description-wrapper">
          <div class="description">
          <p>Security is now a discipline applied across all levels of an organization, from personnel and systems through risk management and compliance. </p>

          <div class="arrow-down"></div>
          </div>
          </div>
          </li>
          <li class="functional-area">
          Software Engineering
          <div class="description-wrapper">
          <div class="description">
          <p>Is the process of gathering and documenting requirements and then iteratively building, testing and deploying a software product to meet the requirements.</p>

          <div class="arrow-down"></div>
          </div>
          </div>
          </li>
          <li class="functional-area">
          Space Planning
          <div class="description-wrapper">
          <div class="description">
          <p>An activity where the requirements of individuals, teams and interacting teams is taken into account in the design and arranging of space, typically in offices.</p>

          <div class="arrow-down"></div>
          </div>
          </div>
          </li>
          <li class="functional-area">
          Strategic Planning
          <div class="description-wrapper">
          <div class="description">
          <p>Defining goals, setting direction and planning strategy for an organization to pursue its vision.</p>

          <div class="arrow-down"></div>
          </div>
          </div>
          </li>
          <li class="functional-area">
          Studio Management
          <div class="description-wrapper">
          <div class="description">
          <p>Studios that support artistic or creative activities need tools and processes to help manage scheduling, tasks, finances, personnel and more.</p>

          <div class="arrow-down"></div>
          </div>
          </div>
          </li>
          <li class="functional-area">
          Supply Management
          <div class="description-wrapper">
          <div class="description">
          <p>Involves the research and acquisition of materials to be consumed in manufacturing or resold as products. Management of suppliers, inventory and risk are key components of supply management. </p>

          <div class="arrow-down"></div>
          </div>
          </div>
          </li>
          <li class="functional-area">
          Surveys
          <div class="description-wrapper">
          <div class="description">
          <p>Used to gather information from individuals for the purpose of providing analysis to support a decision making process.</p>

          <div class="arrow-down"></div>
          </div>
          </div>
          </li>
          <li class="functional-area">
          Telecommunications
          <div class="description-wrapper">
          <div class="description">
          <p>The transmission of audio, visual and digital information over wires and television/radio waves. </p>

          <div class="arrow-down"></div>
          </div>
          </div>
          </li>
          <li class="functional-area">
          Time Tracking
          <div class="description-wrapper">
          <div class="description">
          <p>The documentation of time spent on tasks and by individuals, departments and whole organizations. Time tracking can interface with billing, payroll and productivity analysis.</p>

          <div class="arrow-down"></div>
          </div>
          </div>
          </li>
          <li class="functional-area">
          Training
          <div class="description-wrapper">
          <div class="description">
          <p>You offer trainings -- we can help manage that for you.</p>

          <p>v2 Training is the process of offering new skills and information to individuals and teams with the goal of increasing performance and productivity </p>

          <div class="arrow-down"></div>
          </div>
          </div>
          </li>
          <li class="functional-area">
          Transportation
          <div class="description-wrapper">
          <div class="description">
          <p>Handles the functions that bridge between other enterprise resources including supply chain and distribution.</p>

          <div class="arrow-down"></div>
          </div>
          </div>
          </li>
          <li class="functional-area">
          User Support
          <div class="description-wrapper">
          <div class="description">
          <p>Includes a broad array of functions related to helping internal or external users of systems or services.</p>

          <div class="arrow-down"></div>
          </div>
          </div>
          </li>
          <li class="functional-area">
          Vendor Management
          <div class="description-wrapper">
          <div class="description">
          <p>Vendor management is a class of systems and supporting software that allows customer to manage their relationships with vendors. The goal is for the customer to be able to take control of their part of the relationship, ensuring that they have an array of choices available when choosing vendors to work with.</p>

          <div class="arrow-down"></div>
          </div>
          </div>
          </li>
          <li class="functional-area">
          Video and Audio production
          <div class="description-wrapper">
          <div class="description">
          <p>Creative departments and firms produce content for movies, videos, music and many multimedia experiences. Custom software can help manage the projects, resources and logistics for this type of production.</p>

          <div class="arrow-down"></div>
          </div>
          </div>
          </li>
          <li class="functional-area">
          eCommerce
          <div class="description-wrapper">
          <div class="description">
          <p>eCommerce is the process of selling goods and services online. It interfaces with many areas, including web development, transaction processing, inventory control, funds transfer, marketing and data management.</p>

          <div class="arrow-down"></div>
          </div>
          </div>
          </li>
        </div>
      </ul>
    </div>
  </div>

  <div class="small-12 medium-4 large-2 small-centered columns text-center">
    <a href="javascript:void(0)" class="button green show-all expanded" >More</a>
  </div>

</div>
