<div class="reveal gallery animated fadeIn large" id="gallery-modal-1" data-reveal data-close-on-click="false" data-animation-in="fade-in" data-animation-out="fade-out" data-additional-overlay-classes="gallery">

  <div class="row">
    <div class="small-12 columns">
      <div class="beez-gallery">
        <div><img src="https://placeimg.com/960/1024/people" alt=""></div>
        <div><img src="https://placeimg.com/540/480/animals" alt=""></div>
        <div><img src="https://placeimg.com/777/480/arch" alt=""></div>
        <div><img src="https://placeimg.com/800/481/people" alt=""></div>
        <div><img src="https://placeimg.com/960/481/animals" alt=""></div>
        <div><img src="https://placeimg.com/960/481/arch" alt=""></div>
        <div><img src="https://placeimg.com/960/1024/people" alt=""></div>
        <div><img src="https://placeimg.com/540/480/animals" alt=""></div>
        <div><img src="https://placeimg.com/777/480/arch" alt=""></div>
        <div><img src="https://placeimg.com/800/481/people" alt=""></div>
        <div><img src="https://placeimg.com/960/481/animals" alt=""></div>
        <div><img src="https://placeimg.com/960/481/arch" alt=""></div>
      </div>
      <div class="row expanded">
        <div class="small-12 columns animated fadeIn">
          <h4>Lorem ipsum dolor sit amet</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus at magna sed massa semper facilisis. Fusce vitae ornare ex. Duis semper varius finibus. Nunc quis rhoncus augue. Morbi nulla enim, aliquet eu tincidunt id, gravida in est.</p>
        </div>
      </div>
      <div class="slider-nav">
        <div><img src="https://placeimg.com/960/1024/people" alt=""></div>
        <div><img src="https://placeimg.com/540/480/animals" alt=""></div>
        <div><img src="https://placeimg.com/777/480/arch" alt=""></div>
        <div><img src="https://placeimg.com/800/481/people" alt=""></div>
        <div><img src="https://placeimg.com/960/481/animals" alt=""></div>
        <div><img src="https://placeimg.com/960/481/arch" alt=""></div>
        <div><img src="https://placeimg.com/960/1024/people" alt=""></div>
        <div><img src="https://placeimg.com/540/480/animals" alt=""></div>
        <div><img src="https://placeimg.com/777/480/arch" alt=""></div>
        <div><img src="https://placeimg.com/800/481/people" alt=""></div>
        <div><img src="https://placeimg.com/960/481/animals" alt=""></div>
        <div><img src="https://placeimg.com/960/481/arch" alt=""></div>
      </div>
    </div>
  </div>



  <button class="close-button" data-close aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>


</div>
