<footer class="footer tall" id="main-footer">
  <!-- <div class="triangle-down"></div> -->
  <div class="row">
    <div class="small-12 medium-6 columns">
      <h4>Contact Us</h4>
      <h3>See what beezwax<br>can build for you.</h3>

      <div class="contact-info">
        <a href="https://twitter.com/beezwaxteam" target="_blank" >
          <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-twitter fa-stack-1x"></i>
        </span></a>
        <a href="https://www.facebook.com/beezwaxteam" target="_blank" >
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-facebook fa-stack-1x"></i>
        </span></a>
        <span class="contact-detail"><a href="tel:+18888354483" title="Toll free phone">888 835 4483</a></span>
        <span class="contact-detail"><a href="mailto:info@beezwax.net">info@beezwax.net</a></span>
      </div>

      <div class="contact-info">
        <span class="contact-detail"><a href="tel:+18888354483" title="Toll free phone">888 835 4483</a></span>
        <span class="contact-detail"><a href="mailto:info@beezwax.net">info@beezwax.net</a></span>
      </div>

    </div>
    <div class="small-12 medium-6 columns">
      <div class="row">
        <div class="small-12 large-6 medium-6 columns">
          <input type="text" placeholder="Name" />
        </div>
        <div class="small-12 large-6 medium-6 columns">
          <input type="text" placeholder="email" />
        </div>
        <div class="small-12 large-12 medium-12 columns">
          <div class="row collapse">
            <textarea placeholder="What's on your mind..."></textarea>
            <div class="intrestest-wrapper" style="margin-bottom: 20px;">
                <select id="footer-user-intrests" multiple="multiple" >
                  <!-- <option value="new">Add Intrestes</option> -->
                  <option value="FileMaker Development" selected>FileMaker Development</option>
                  <option value="User Interface Design (UI)" selected>User Interface Design (UI)</option>
                  <option value="Charting" selected>Charting</option>
                  <option value="Mobile Development" selected>Mobile Development</option>
                  <option value="Training & Workshops" selected>Training & Workshops</option>
                  <option value="Integration" selected>Integration</option>
                  <option value="FileMaker Support">FileMaker Support</option>
                  <option value="Networking">Networking</option>
                  <option value="IT">IT</option>
                  <option value="Web Development">Web Development</option>
                  <option value="Data Cleanup">Data Cleanup</option>
                  <option value="Migrating To Latest FileMaker Version">Migrating To Latest FileMaker Version</option>
                  <option value="FileMaker System Redesign">FileMaker System Redesign</option>
                  <option value="FileMaker and Web Integration">FileMaker and Web Integration</option>
                  <option value="Plug-in Integration">Plug-in Integration</option>
                  <option value="FileMaker Server Administration">FileMaker Server Administration</option>
                  <option value="Network Topology Design">Network Topology Design</option>
                  <option value="Network Wiring and Implementation">Network Wiring and Implementation</option>
                  <option value="Router Configuration">Router Configuration</option>
                  <option value="Map IT Infrastructure">Map IT Infrastructure</option>
                  <option value="Hosting Services">Hosting Services</option>
                  <option value="Server Configuration">Server Configuration</option>
                  <option value="Server Co-Location">Server Co-Location</option>
                  <option value="IT Consulting">IT Consulting</option>
                  <option value="IT Training">IT Training</option>
                  <option value="Web Store Integration">Web Store Integration</option>
                  <option value="Consulting">Consulting</option>
                  <option value="Requirements Gathering">Requirements Gathering</option>
                  <option value="Opinion">Opinion</option>
                  <option value="Needs Assessment">Needs Assessment</option>
                  <option value="Business Analysis">Business Analysis</option>
                  <option value="Technical Documentation">Technical Documentation</option>
                  <option value="Troubleshooting">Troubleshooting</option>
                  <option value="Upgrading from previous versions">Upgrading from previous versions</option>
                  <option value="Database normalization">Database normalization</option>
                  <option value="Data Visualization">Data Visualization</option>
                  <option value="WordPress Development">WordPress Development</option>
                  <option value="Solution-Specific Training">Solution-Specific Training</option>
                  <option value="Configuration">Configuration</option>
                  <option value="Data Migration">Data Migration</option>
                  <option value="Export to Excel">Export to Excel</option>
                  <option value="Going Beyond Excel">Going Beyond Excel</option>
                  <option value="Design">Design</option>
                  <option value="Dashboards">Dashboards</option>
                  <option value="Inspector Consult">Inspector Consult</option>
                  <option value="System Audit">System Audit</option>
                  <option value="Database Repair">Database Repair</option>
                  <option value="IT support">IT support</option>
                  <option value="Code Readability">Code Readability</option>
                  <option value="Code Maintainability">Code Maintainability</option>
                  <option value="Code Quality">Code Quality</option>
                  <option value="Agile Development">Agile Development</option>
                  <option value="Database Administration">Database Administration</option>
                  <option value="Web Services / REST APIs">Web Services / REST APIs</option>
                  <option value="Graphic Design">Graphic Design</option>
                  <option value="Data Syncing">Data Syncing</option>
                  <option value="Data Modeling">Data Modeling</option>
                  <option value="Data Analysis">Data Analysis</option>
                  <option value="SEO">SEO</option>
                  <option value="FileMaker PHP">FileMaker PHP</option>
                  <option value="Prototyping">Prototyping</option>
                  <option value="Directory and Authentication">Directory and Authentication</option>
                  <option value="Technical Support">Technical Support</option>
                  <option value="Product Management">Product Management</option>
                  <option value="Quality Assurance">Quality Assurance</option>
                  <option value="Email Integration">Email Integration</option>
                  <option value="Network Engineering">Network Engineering</option>
                  <option value="Security">Security</option>
                  <option value="Deployment">Deployment</option>
                  <option value="Data Management">Data Management</option>
                  <option value="Data Mining">Data Mining</option>
                  <option value="Your wishlist come true">Your wishlist come true</option>
                  <option value="Optimization">Optimization</option>
                  <option value="FileMaker Power User Training">FileMaker Power User Training</option>
                  <option value="Basic FileMaker Development Training">Basic FileMaker Development Training</option>
                  <option value="Advanced FileMaker Development Training">Advanced FileMaker Development Training</option>
                  <option value="Network Security">Network Security</option>
                  <option value="Testing">Testing</option>
                  <option value="Setup">Setup</option>
                  <option value="FileMaker Training">FileMaker Training</option>
                  <option value="Automating Tasks">Automating Tasks</option>
                  <option value="Licensing Fullfillment">Licensing Fullfillment</option>
                  <option value="Writing User Stories">Writing User Stories</option>
                  <option value="App Development">App Development</option>
                  <option value="Organization Development Consulting">Organization Development Consulting</option>
                  <option value="Business Workflow Applications">Business Workflow Applications</option>
                  <option value="Form Submission and Processing">Form Submission and Processing</option>
                  <option value="Legacy System Improvements">Legacy System Improvements</option>
                  <option value="Reports">Reports</option>
                  <option value="Export to PDF">Export to PDF</option>
                  <option value="Email Import and Processing">Email Import and Processing</option>
                  <option value="Data Search">Data Search</option>
                  <option value="Software as a Service (SaaS)">Software as a Service (SaaS)</option>
                  <option value="Junk Mail filtering">Junk Mail filtering</option>
                  <option value="Server Backup Procedure">Server Backup Procedure</option>
                  <option value="Account Management">Account Management</option>
                  <option value="Project Management">Project Management</option>
                  <option value="FileMaker Scripting">FileMaker Scripting</option>
                  <option value="FileMaker Calculations">FileMaker Calculations</option>
                  <option value="FileMaker Custom Functions">FileMaker Custom Functions</option>
                  <option value="Cross-browser deployment">Cross-browser deployment</option>
                  <option value="FileMaker Accounts & Privileges">FileMaker Accounts & Privileges</option>
                  <option value="Schema Naming Conventions Standardization">Schema Naming Conventions Standardization</option>
                  <option value="Single-Page Application">Single-Page Application</option>
                  <option value="web framework (CakePHP, Zend, …)">web framework (CakePHP, Zend, …)</option>
                  <option value="FileMaker SQL">FileMaker SQL</option>
                  <option value="Interaction Design (IxD)">Interaction Design (IxD)</option>
                  <option value="Database Development">Database Development</option>
                  <option value="System Redesign">System Redesign</option>
                  <option value="System Administration">System Administration</option>
                  <option value="Linux System Administration">Linux System Administration</option>
                  <option value="Open Source publishing">Open Source publishing</option>
                  <option value="Product Design">Product Design</option>
                  <option value="Custom Software Development">Custom Software Development</option>
                  <option value="Software Architecture">Software Architecture</option>
                  <option value="Systems Architecture">Systems Architecture</option>
                  <option value="Vendor Portal Development">Vendor Portal Development</option>
                  <option value="Single Sign-On (SSO)">Single Sign-On (SSO)</option>
                </select>

                <!-- <button type="button" class="button small">
                  <p>Add Intrest</p><i class="fa fa-plus-circle" aria-hidden="true"></i>
                </button> -->
              </div>

          </div>
        </div>
        <div class="small-12 large-12 medium-12 columns">
          <div class="row collapse text-right">
            <a href="#" class="button green text-right">Submit</a><br/>
          </div>
        </div>
      </div>
    </div>
    <div class="small-12 columns">
      <p class="copywrite">© 1996-2018 Beezwax Datatools, Inc. All rights reserved.<br>

        <a href="{{root}}privacy"> Privacy Policy</a> |
        <a href="{{root}}terms">Terms of Use</a>
        <!-- <a data-open="exampleModal1"> Privacy Policy</a></p> -->
    </div>
  </div>

  <div class="small reveal" id="exampleModal1" data-reveal>
    <h2>Beezwax&#8217;s Privacy Policy</h2>
    <p>
    Your privacy is important. Beezwax provides this Privacy Policy to help you understand how we collect,
    use, and disclose information that you may provide us. This policy applies to our website and other
    interactions we may have with you.
    </p>
    <p>
    We may update this Privacy Policy from time to time.
    </p>
    <h4>personal information</h4>
    <p>
    Personal information is info which may be used to identify or contact an individual, such as name,
    mailing address, phone number, or email address. You may be asked to provide this info when in contact
    with Beezwax. We may use or share this information, consistent with this Privacy Policy, for completing
    a transaction or performing some action you have requested. We may also internally use or combine this
    info with other info to improve our products and services, and for advertising and marketing consistent
    with this Privacy Policy, such as announcements, newsletters and special offers from Beezwax.
    </p>

    <p>
    If you don’t want to be on our mailing list, you can opt out via the &#8220;Unsubscribe&#8221; option, or by
    contacting us by phone or email.
    </p>
    <h4>non-personal information</h4>
    <p>
    Through our website, such as via &#8220;cookies&#8221; and through other applications, we collect non-personal
    information, which is not directly associated with an individual. We may use, transfer, and disclose
    this non-personal information for any purpose, such as improving the experience for visitors to our
    website.
    </p>
    <h4>special cases</h4>
    <p>
    We may disclose information if we believe it is reasonably necessary by law, court order, litigation,
    request by governmental authority, or other issues of importance, or to protect our rights. We may
    transfer information in the event of a merger or sale of Beezwax.
    </p>
    <h4>protection of personal information</h4>
    <p>
    Your privacy is important to Beezwax. We take administrative and technical precautions to protect
    personal information during and after it is provided to us.
    </p>
    <h4>children</h4>
    <p>
    Beezwax does not knowingly collect any personally identifiable information from children under the age
    of 13. If we verify that a person under 13 has submitted personal information to Beezwax, we will
    proceed to delete this info as soon as possible.
    </p>
    <h4>third-parties</h4>
    <p>
    Any third-party websites, products and services are managed by those third parties, including any
    privacy policies or other terms of service.
    </p>
    <h4>consent</h4>
    <p>
    By using our website, you hereby consent to our privacy policy and agree to its terms.
    </p>
    <h4>questions</h4>
    <p>
    If you have questions related to this Privacy Policy, please <a href="/contact.html">contact us</a>.
    </p>

    <p>
    Beezwax Datatools, Inc., 200 Frank H. Ogawa Plaza, 7th Floor, Oakland CA 94612
    </p>

    <p>
    <small>Last updated: March 4th, 2015</small>
    </p>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
</footer>
