<div class="reveal small intake" id="intake" data-reveal>
  <button class="close-button" data-close aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="row">
    <div class="columns intake-header">&nbsp;</div>
    <div class="small-11 small-centered columns">
      <br>
      <h4>Let us build your next solution</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br>
      <small><span class="required-mark">*</span> Required field</small>
      </p>

      {{>intake-form}}
    </div>

  </div>

  <div class="columns">
    <p class="text-center" style="text-align:center;">
      <button class="button green" type="submit" value="Submit">Submit</button>
    </p>
  </div>
</div>
