<div class="row expanded find-solution-wrapper">
  <div class="small-12 columns text-center">
    <!-- <div class="background-poster">

    </div>
    <h2 style="color: #fff;">Some intresting verabe here to get you excited</h2> -->
    <a class="button large blue" data-open="intake">Find your next solution with us</a>
  </div>
</div>


<div class="small reveal intake" id="intake" data-reveal>
  <div class="row">
    <div class="columns intake-header">&nbsp;</div>
    <div class="columns">
      <h4>Let us build your next solution</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br>
      <small><span class="required-mark">*</span> Required field</small>
      </p>
    </div>
  </div>
  {{>intake-form}}
  <div class="columns">
  <p class="text-center" style="text-align:center;">
    <!-- <button class="button small secondary" type="reset" value="Reset">Reset</button> -->
    <button class="button green" type="submit" value="Submit">Submit</button>
  </p>
</div>
  <button class="close-button" data-close aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
