<div class="row expanded intrestest-wrapper-bar animated">
  <div class="small-12 columns text-center show-for-small-only">
    <i class="fa fa-angle-up toggle animated fadeIn" aria-hidden="true"></i><br>
  </div>
  <div class="small-12 columns small-centered">
    <div class="row">
      <div class="large-10 small-12 small-centered columns">
        <h4 class="text-center">interests</h4>
        <a class="button blue tiny intrest-item has-tip top services-btn" data-tooltip aria-haspopup="true" data-disable-hover="false" tabindex="2" title="Remove Service">
          Service <i class="fa fa-times" aria-hidden="true"></i>
        </a>
        <a class="button blue tiny intrest-item has-tip top product-btn" data-tooltip aria-haspopup="true" data-disable-hover="false" tabindex="2" title="Remove Product">
           Product <i class="fa fa-times" aria-hidden="true"></i>
        </a>
        <a class="button blue tiny intrest-item has-tip top events-btn" data-tooltip aria-haspopup="true" data-disable-hover="false" tabindex="2" title="Remove Event">
          Events <i class="fa fa-times" aria-hidden="true"></i>
        </a>
        <a class="button blue tiny intrest-item has-tip top training-btn" data-tooltip aria-haspopup="true" data-disable-hover="false" tabindex="2" title="Remove Training">
          Training <i class="fa fa-times" aria-hidden="true"></i>
        </a>
        <a class="button blue tiny intrest-item has-tip top merch-btn" data-tooltip aria-haspopup="true" data-disable-hover="false" tabindex="2" title="Remove Merch">
          Merch <i class="fa fa-times" aria-hidden="true"></i>
        </a>
        <a class="button blue tiny intrest-item has-tip top hugs-btn" data-tooltip aria-haspopup="true" data-disable-hover="false" tabindex="2" title="Remove Hug">
          <i class="fa fa-heart" aria-hidden="true"></i> Free Hug <i class="fa fa-times" aria-hidden="true"></i>
        </a>
        <a class="button blue tiny intrest-item last has-tip top" data-tooltip aria-haspopup="true" data-disable-hover="false" tabindex="2" title="Remove Interest">
          If Last intrest is deleted <i class="fa fa-times" aria-hidden="true"></i>
        </a>
        <a href="#" class="button tiny has-tip top hollow clear-all-btn" data-tooltip aria-haspopup="true" data-disable-hover="false" tabindex="2" title="Clear All"> Clear All <i class="fa fa-times" aria-hidden="true"></i></a>

        <a href="contact.html" class="button green tiny has-tip top show-for-large" data-tooltip aria-haspopup="true" data-disable-hover="false" tabindex="2" title="Proceed to Contact Us"><strong>Proceed <i class="fa fa-chevron-right" aria-hidden="true"></i></strong>
        </a>
      </div>

      <div class="large-2 medium-6 small-12 small-centered columns">
        <a href="{{root}}contact.html" class="button green tiny has-tip top show-for-large expanded" data-tooltip aria-haspopup="true" data-disable-hover="false" tabindex="2" title="Proceed to Contact Us"><strong>Proceed <i class="fa fa-chevron-right" aria-hidden="true"></i></strong>
        </a>
      </div>

      <!-- <div class="large-2 medium-6 small-12 columns show-for-large">
        <a href="contact.html" class="button green tiny has-tip top" data-tooltip aria-haspopup="true" data-disable-hover="false" tabindex="2" title="Proceed to Contact Us"><strong>Proceed <i class="fa fa-chevron-right" aria-hidden="true"></i></strong>
        </a>
      </div> -->

      <div class="large-2 medium-6 small-12 columns show-for-small-only">
        <a href="contact.html" class="button green small has-tip expanded" data-tooltip aria-haspopup="true" data-disable-hover="false" tabindex="2" title="Proceed to Contact Us"><strong>Proceed <i class="fa fa-chevron-right" aria-hidden="true"></i></strong>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="row expanded intrestest-wrapper-bar animated fadeInUp show-for-small collapsed hide">
  <div class="small-12 columns text-center">
    <i class="fa fa-angle-up toggle animated fadeIn" aria-hidden="true"></i><br>
  </div>

  <div class="small-12 columns">
    <div class="mobile-header">
      <h4 class="text-left" style="display: inline-block;">your interests</h4>

      <a href="contact.html#proceed" class="button green tiny has-tip top float-right" data-tooltip aria-haspopup="true" data-disable-hover="false" tabindex="2" title="Proceed to Contact Us" style="margin-bottom: 0;"><strong>Proceed <i class="fa fa-chevron-right" aria-hidden="true"></i></strong>
      </a>
    </div>

    <div class="interest-wrapper">
      <a class="button blue tiny intrest-item has-tip top services-btn" data-tooltip aria-haspopup="true" data-disable-hover="false" tabindex="2" title="Remove Service" href="javascript:void(0)">
      Service <i class="fa fa-times" aria-hidden="true"></i>
      </a>
      <a class="button blue tiny intrest-item has-tip top product-btn" data-tooltip aria-haspopup="true" data-disable-hover="false" tabindex="2" title="Remove Product" href="javascript:void(0)">
       Product <i class="fa fa-times" aria-hidden="true"></i>
      </a>
      <a class="button blue tiny intrest-item has-tip top events-btn" data-tooltip aria-haspopup="true" data-disable-hover="false" tabindex="2" title="Remove Event" href="javascript:void(0)">
      Event <i class="fa fa-times" aria-hidden="true"></i>
      </a>
      <a class="button blue tiny intrest-item has-tip top training-btn" data-tooltip aria-haspopup="true" data-disable-hover="false" tabindex="2" title="Remove Training" href="javascript:void(0)">
      Training <i class="fa fa-times" aria-hidden="true"></i>
      </a>
      <a class="button blue tiny intrest-item has-tip top merch-btn" data-tooltip aria-haspopup="true" data-disable-hover="false" tabindex="2" title="Remove Merch" href="javascript:void(0)">
      Merch <i class="fa fa-times" aria-hidden="true"></i>
      </a>
      <a class="button blue tiny intrest-item has-tip top hugs-btn" data-tooltip aria-haspopup="true" data-disable-hover="false" tabindex="2" title="Remove Hug" href="javascript:void(0)">
      <i class="fa fa-heart" aria-hidden="true"></i> Free Hug <i class="fa fa-times" aria-hidden="true"></i>
      </a>
      <a class="button blue tiny intrest-item last has-tip top" data-tooltip aria-haspopup="true" data-disable-hover="false" tabindex="2" title="Remove Interest"  href="javascript:void(0)">
      If Last intrest is deleted <i class="fa fa-times" aria-hidden="true"></i>
      </a>
      <a href="#" class="button tiny has-tip top hollow clear-all-btn" data-tooltip aria-haspopup="true" data-disable-hover="false" tabindex="2" title="Clear All"> Clear All <i class="fa fa-times" aria-hidden="true"></i></a>
    </div>
  </div>

  <div class="small-12 columns small-centered">
    <div class="row">




      <!-- <div class="large-2 medium-6 small-12 columns expanded-proceed">

        <a href="contact.html" class="button green tiny has-tip top float-right" data-tooltip aria-haspopup="true" data-disable-hover="false" tabindex="2" title="Proceed to Contact Us"><strong>Proceed <i class="fa fa-chevron-right" aria-hidden="true"></i></strong>
        </a>
      </div> -->
    </div>
  </div>
</div>
