<div class="reveal animated fadeInUp" id="invision" data-reveal data-close-on-click="false" data-animation-in="fade-in" data-animation-out="fade-out" data-additional-overlay-classes="moving-invision">


  <div class="row">
    <div class="small-12 columns">
      <h3>Welcome & Goodbye</h3>
      <p>design.beezwax.net is being depricated.<br>
      All future mockups will be devloped in InVision.<br>
      You can find the Entire project here:<br>
      <a href="https://invis.io/Y5SH87Q8M4X" target="_blank">https://invis.io/Y5SH87Q8M4X</a>
      <br>
    If you do not have an invision account, please <a href="mailto:mekuria_g@beezwax.net?subject=invision access - beezwax.net">email me</a>.</p>
    </div>
  </div>

  <div class="content-wrapper">
    <div class="row">
      <div class="small-12 columns">
        <hr>
        <p>You can find the new mockups for this page here:<br>
          <a href="{{invision-link}}" target="_blank">{{invision-link}}</a>
        </p>
      </div>
    </div>
  </div>

  <!-- <button class="close-button" data-close aria-label="Close reveal" type="button" onclick="$('.intrestest-wrapper-bar.version-3').removeClass('hide').addClass('slideInUp')">
    <span aria-hidden="true">&times;</span>
  </button> -->
</div>
