<form class="log-in-form">
  <h4 class="text-center">Log in</h4>
  <label>Email
    <input type="email" placeholder="somebody@example.com">
  </label>
  <label>Password
    <input type="password" placeholder="Password">
  </label>
  <!-- <input id="show-password" type="checkbox"><label for="show-password">Show password</label> -->
  <hr>
  <p><a href="{{root}}users/jane-smith" class="button expanded green" >Login</a> </p>
  <a class="button expanded" data-open="SignUpModal">Sign Up</a>
  <p class="text-center"><a href="#">Forgot your password?</a></p>
</form>
