<div class="row expanded product-by-wrapper">

  <div class="small-12 large-8 small-centered columns">
    <div class="row" data-equalizer data-equalize-on="medium">
      <div class="small-12 small-centered columns">
        <h4>Prodcut By  </h4>
      </div>
      <div class="small-12 medium-4 columns lead-dev" >
        <div class="column flex-container">
          <div class="card"  data-equalizer-watch>
            <div class="card-section">
              <div class="avatar" style="background-image: url('https://beezwax.net/system/attachments/356/original/mark.scott.2.jpg')"></div>
              <p class="authur"><a href="https://beezwax.net/beez/293-mark-scott">Mark Scott</a></p>
              <p class="role">Lead Developer</p>
            </div>
          </div>
        </div>
      </div>
      <div class="small-12 medium-4 columns" >
        <div class="column flex-container">
          <div class="card"  data-equalizer-watch>
            <div class="card-section">
              <div class="avatar" style="background-image: url('https://beezwax.net/system/attachments/244/original/vince.menanno.jpg')"></div>
              <p class="authur"><a href="https://beezwax.net/beez/81-vincenzo-menanno">Vincenzo Menanno</a></p>
              <p class="role">Dir. of FileMaker Development</p>
            </div>
          </div>
        </div>
      </div>

      <div class="small-12 medium-4 columns" >
        <div class="column flex-container">
          <div class="card" data-equalizer-watch >
            <div class="card-section">
              <div class="avatar" style="background-image: url('https://beezwax.net/system/attachments/324/original/jay.gonzales.jpg')"></div>
              <p class="authur"><a href="https://beezwax.net/beez/241-jay-gonzales">Jay Gonzales</a></p>
              <p class="role">Ever-helpful Guidance</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
