

<div class="life-at-bx  promo-wrapper v2 tiny closed animated fadeIn" id="main-promo" style="animation-delay:3s !important;">
  <div class="small-12 small-centered columns">
    <!-- <button class="button small close-me has-tip left"  data-tooltip aria-haspopup="true" data-disable-hover="false" tabindex="2" title="Tooltips to Show / Hide Current Promotion."><i class="fa fa-compress" aria-hidden="true"></i></button> -->

    <div class="row promo-content" data-equalizer data-equalize-on="small">
      <div class="small-12 columns text-center">
        <div class="collapsed">
          <h4>Current Promotion: <img src="https://beezwax.net/system/inv_srv/NODE_ATTRIBUTE_VALUE-4324ECC1-742B-4EB4-8572-6C25913BDE72/systemaudit.svg" alt="" class="tiny-promo-logo">  <b>Inspector<span class="bold">Pro</span> Analysis & Consultation</b> <i class="fa fa-chevron-down" aria-hidden="true"></i></h4>
        </div>
      </div>

      <div class="main-info animated fadeIn" style="animation-delay:.25s;">
        <div class="small-12 large-2 columns" >
          <div class="promo-icon-wrapper webapp">

          </div>
        </div>
        <div class="small-12 large-8 end columns">
          <p class="text-center">Close <i class="fa fa-chevron-up" aria-hidden="true"></i></p>
          <h4 class="promo-title">Inspector<span class="bold">Pro</span> Analysis & Consultation</h4>
          <p>For a decade and a half, we've been on the leading edge of integrating FileMaker and the web. In 2002, we won an award for FileMaker Inc, for developing a new tool for tying FileMaker to the web. Ever since, we've made the most of the tools that FileMaker Inc, our peers in the community, and we ourselves have invented to achieve a performant experience having portions of a FileMaker system accessed through a browser.</p>

          <p>We call this a FileMaker-web hybrid system, and brings the best of FileMaker's rapid development efficiencies and the web's vast reach and ease of deployment.
          </p>
          <div class="button white" data-tooltip aria-haspopup="true" class="has-tip top" data-disable-hover="false" tabindex="2" title="Let get this party started."  data-open="promotion-revel">
            <strong>Get Your Free assessment Now</strong>
          </div>

          <div class="social-shares-wrapper-2" style="text-align: left;padding-left: 0;">
            <!-- <p>Do you know someone who might be interested? <b>Let them know!</b></p> -->

            {{>social-share}}

            <!-- <button href="javascript:void(0)" target="_blank" class="has-tip top" title="Share to Email" data-tooltip aria-haspopup="true" data-disable-hover="false" tabindex="2">
              <span class="fa-stack">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-envelope fa-stack-1x"></i>
              </span>
            </button>

            <a href="javascript:void(0)" target="_blank" class="has-tip top" title="Share to Linkedin" data-tooltip aria-haspopup="true" data-disable-hover="false" tabindex="2">
              <span class="fa-stack">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-linkedin fa-stack-1x"></i>
              </span>
            </a>
            <a href="javascript:void(0)" target="_blank" class="has-tip top" title="Share to Twitter" data-tooltip aria-haspopup="true" data-disable-hover="false" tabindex="2">
              <span class="fa-stack">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x"></i>
              </span>
            </a>

            <a href="javascript:void(0)" target="_blank" class="has-tip top" title="Share to Facebook" data-tooltip aria-haspopup="true" data-disable-hover="false" tabindex="2">
              <span class="fa-stack">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x"></i>
              </span>
            </a>
            <a href="javascript:void(0)" target="_blank"  class="has-tip top" title="Share to Google+" data-tooltip aria-haspopup="true" data-disable-hover="false" tabindex="2">
              <span class="fa-stack">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-google-plus fa-stack-1x"></i>
              </span>
            </a> -->
          </div>

        </div>
    </div>

  </div>
  </div>
</div>
