<div class="row expanded promo-wrapper">
  <div class="large-8 small-12 align-center small-centered columns">
    <!-- <h4>This is where we give them a Great Title</h2>
    <p>This will be some smooth talk to intise them.</p> -->
    <ul class="accordion" data-accordion data-allow-all-closed="true">
      <li class="accordion-item is-active" data-accordion-item>
        <a class="accordion-title">
          <!-- <div class="svg-wrapper">
            <object type="image/svg+xml" data="assets/img/icons/FMwebintegration.svg" width="64" height="64"></object>
          </div>
          <h4>Free FileMaker and Web Integration assessment</h4> -->
          <h4>PROMOTION</h4>
          <p>Inspector<span>Pro</span> Analysis & Consultation</p>
        </a>
        <div class="accordion-content" data-tab-content >
          <div class="small-2 columns logo-wrapper">
            <div class="svg-wrapper large">
              <object type="image/svg+xml" data="assets/img/icons/FMwebintegration.svg" width="64" height="64"></object>
            </div>
          </div>
          <div class="small-10 columns">
            <h4>Free FileMaker and Web Integration Assessment</h4>
            <p>For a decade and a half, we've been on the leading edge of integrating FileMaker and the web. In 2002, we won an award for FileMaker Inc, for developing a new tool for tying FileMaker to the web. Ever since, we've made the most of the tools that FileMaker Inc, our peers in the community, and we ourselves have invented to achieve a performant experience having portions of a FileMaker system accessed through a browser.</p>

            <p>We call this a FileMaker-web hybrid system, and brings the best of FileMaker's rapid development efficiencies and the web's vast reach and ease of deployment.
            </p>
            <div class="button green" data-tooltip aria-haspopup="true" class="has-tip top" data-disable-hover="false" tabindex="2" title="Let get this party started."  data-open="promotion-revel" style="margin-left:25px;">
              <strong>Get Your Free assessment Now</strong>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
