<div class="life-at-bx promo-wrapper animated v2 dual hide" id="main-promo">
  <div class="small-12 small-centered columns">
    <button class="button small close-me has-tip left"  data-tooltip aria-haspopup="true" data-disable-hover="false" tabindex="2" title="Tooltips to Show / Hide Current Promotion."><i class="fa fa-compress" aria-hidden="true"></i></button>
    <div class="row promo-content multiple">
      <div class="small-12 columns text-center">
        <h4 class="promo-header">Current Promotions</h4>
        <!-- <br> -->
      </div>
      <div class="small-12 medium-6 columns text-center">
        <div class="promo-icon-wrapper responsive"></div>
        <h4 class="promo-title">Responsive Design Consultation</h4>
        <p>For $1,000 we will identify 10 usability improvements for your Web App.
          <br>And pay only if you like what we have to say. Choose the areas of your Application you'd like us to focus on...
        </p>
        <div class="button white cta" data-tooltip aria-haspopup="true" class="has-tip top" data-disable-hover="false" tabindex="2" title="Let get this party started."  data-open="promotion-revel">
          <strong>I'm interested</strong>
        </div>
      </div>
      <div class="small-12 medium-6 columns text-center">
        <div class="promo-icon-wrapper webapp"></div>
        <h4 class="promo-title">Web App Usability Analysis</h4>
        <!-- <h4>Web App Usability Analysis</h4> -->
        <p>For $1,000 we will identify 10 usability improvements for your Web App.
          <br>And pay only if you like what we have to say. Choose the areas of your Application you'd like us to focus on...
        </p>
        <div class="button white cta" data-tooltip aria-haspopup="true" class="has-tip top" data-disable-hover="false" tabindex="2" title="Let get this party started."  data-open="promotion-revel">
          <strong>I'm interested</strong>
        </div>
      </div>
    </div>
  </div>
</div>
