<div class="life-at-bx  promo-wrapper animated v2 single hide" style="background-color:#8BB018;" id="main-promo">
  <div class="small-12 small-centered columns">
    <button class="button small close-me has-tip left"  data-tooltip aria-haspopup="true" data-disable-hover="false" tabindex="2" title="Tooltips to Show / Hide Current Promotion."><i class="fa fa-compress" aria-hidden="true"></i></button>
    <div class="row promo-content" data-equalizer data-equalize-on="medium">
      <div class="small-3 large-2 columns" data-equalizer-watch>
        <div class="promo-icon-wrapper">

        </div>
      </div>
      <div class="small-9 large-8 end columns" data-equalizer-watch>
        <h4>Current Promotion</h4>
        <h4 class="promo-title">Inspector<span class="bold">Pro</span> Analysis & Consultation</h4>
        <!-- <h4>Web App Usability Analysis</h4> -->
        <p>For a decade and a half, we've been on the leading edge of integrating FileMaker and the web. In 2002, we won an award for FileMaker Inc, for developing a new tool for tying FileMaker to the web. Ever since, we've made the most of the tools that FileMaker Inc, our peers in the community, and we ourselves have invented to achieve a performant experience having portions of a FileMaker system accessed through a browser.</p>

        <p>We call this a FileMaker-web hybrid system, and brings the best of FileMaker's rapid development efficiencies and the web's vast reach and ease of deployment.
        </p>
        <div class="button white" data-tooltip aria-haspopup="true" class="has-tip top" data-disable-hover="false" tabindex="2" title="Let get this party started."  data-open="promotion-revel">
          <strong>Get Your Free assessment Now</strong>
        </div>
      </div>
    </div>
  </div>
</div>
