<!-- <div class="bee-quote-wrapper">
  <blockquote>
  <p><span>Working with Beezwax was great. </span>Tara is a very talented engineer. We had a pretty tight budget and working with that in mind she was able to complete the bulky part of the project and give me enough assistance to see the job to completion myself. Because of the successful completion of this project we have saved at least 4 reams of paper in the last couple of weeks. Thanks for a great job and keeping our environment healthier!</p>
  <cite>
  <div class="name">
  Maer Ben-Yisrael
  , Director of Technology
  </div>
  <div class="company">Presidio Hill School</div>
  </cite>
  </blockquote>
</div> -->


<div class="row quotes-wrapper">
  <div class="small-12 small-centered columns">
    <div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit data-pause-on-hover="true" data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out; timer-delay:100;">
      <ul class="orbit-container">
        <li class="orbit-slide">
          <div>
            <blockquote>
              <p class="quote"><span>Our Beezwax developer made a tremendous difference.</span> He very quickly made our system so much easier to use -- and was such a pleasure to work with. We're thrilled to be back on the right track with our database.Our Beezwax developer made a tremendous difference.He very quickly made our system so much easier to use -- and was such a pleasure to work with. We're thrilled to be back on the right track with our database. Thank you.He very quickly made our system so much easier to use -- and was such a pleasure to work with. We're thrilled to be back on the right track with our database.Our Beezwax developer made a tremendous difference.He very quickly made our system so much easier to use -- and was such a pleasure to work with. We're thrilled to be back on the right track with our database. Thank you.</p>

              <cite>
                <div class="name">
                Loretta Edmonson
                , Tech Coordinator
                </div>
                <div class="company">St. Mary of the Immaculate Conception School</div>
              </cite>
            </blockquote>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
