<div class="row related-wrapper">
  <div class="small-12 columns">
    <h4>related blog posts</h4>
    <div class="row">
      <div class="large-3 medium-6 small-12 columns">
        <div class="card-wrapper card-1">
          <div class="image-wrapper"  style="background-image: url('http://lorempixel.com/400/200/sports/1')"> </div>
          <a href="#"><p class="title">1 Simple Ways To Save A Bunch Of Money</p></a>
          <div class="description-wrapper">
            <div class="description-text">
              <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="large-3 medium-6 small-12 columns">
        <div class="card-wrapper card-1">
          <div class="image-wrapper"  style="background-image: url('http://lorempixel.com/400/200/sports/2')"> </div>
          <a href="#"><p class="title">1 Simple Ways To Save A Bunch Of Money</p></a>
          <div class="description-wrapper">
            <div class="description-text">
              <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="large-3 medium-6 small-12 columns">
        <div class="card-wrapper card-1">
          <div class="image-wrapper"  style="background-image: url('http://lorempixel.com/400/200/sports/3')"> </div>
          <a href="#"><p class="title">1 Simple Ways To Save A Bunch Of Money</p></a>
          <div class="description-wrapper">
            <div class="description-text">
              <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="large-3 medium-6 small-12 columns">
        <div class="card-wrapper card-1">
          <div class="image-wrapper"  style="background-image: url('http://lorempixel.com/401/201/sports/3')"> </div>
          <a href="#"><p class="title">1 Simple Ways To Save A Bunch Of Money</p></a>
          <div class="description-wrapper">
            <div class="description-text">
              <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="large-8 small-12 medium-6 columns">
    <h4>related events</h4>
    <div class="row">
      <div class="large-4 medium-4 small-12 columns">
        <div class="card-wrapper layered">
          <div class="image-wrapper" style="background-image: url('assets/img/DevCon2017-Poster-P.jpg');"> </div>
          <div class="description-wrapper">
            <div class="description-text">
              <div class="span"><p>Join Us @ DEFCON 2017 </p>
              </div>
            </div>
          </div>
          <!-- <a href="#"><p>1 Simple Ways To Save A Bunch Of Money</p></a> -->
        </div>
      </div>
      <div class="large-4 medium-4 small-12 columns">
        <div class="card-wrapper layered two">
          <div class="image-wrapper" style="background-image: url('assets/img/railsconf2017.jpg');"></div>
          <div class="description-wrapper animated fadeIn">
            <div class="description-text">
              <div class="span"><p>Join Us @ RailsConf 2017</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="large-4 medium-4 small-12 columns">
        <div class="card-wrapper layered three">
          <div class="image-wrapper" style="background-image: url('assets/img/railsconf2017.jpg');"></div>
          <div class="description-wrapper animated">
            <div class="description-text">
              <div class="span"><p>Join Us @ RailsConf 2017</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="large-4 medium-6 small-12 columns">
    <h4>related products</h4>
    <div class="row">
      <div class="large-12 medium-6 small-12 columns">
        <div class="card-wrapper products-related">
          <div class="image-wrapper" style="background-image: url(assets/img/headers/inspector_pro-card-preview.jpg)">
          </div>
          <a href="#"><h4>InspectorPro 6.5</h4></a>
        </div>
      </div>

    </div>
  </div>
</div>
