<div class="row navigation-wrapper {{navigation-wrapper}} show-for-medium"> <!-- Collapsed Navigation -->
  <div class="columns small-12 medium-10 medium-offset-1" data-sticky-container>
    <div class="sticky" data-sticky data-anchor="nav-viewer" style="top:300px !important;">
      <div class="navigation">
        {{#each global.service-node-nav}}
          <div class="node icon {{show-label}}">
            <div class="svg-wrapper">
              <img src="/assets/img/icons/{{img}}" alt="{{alt}}" title="{{title}}">
            </div>
            <div class="name">{{title}}</div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>

<div class="row navigation-wrapper hide navigation show-for-small-only">
  <div class="small-2 small-offset-1 columns">
    <div class="node icon show-label" data-id="18215" data-name="FileMaker Development" data-url="/services/filemaker">
      <div class="svg-wrapper">
        <object type="image/svg+xml" data="assets/img/icons/FilemakerDev.svg" width="64" height="64"></object>
      </div>
      <div class="name">FileMaker</div>
    </div>
  </div>
  <div class="small-2 columns">
    <div class="node icon" data-id="18220" data-name="Mobile Development" data-url="/services/mobile">
      <div class="svg-wrapper">
        <object type="image/svg+xml" data="assets/img/icons/MobileDev.svg" width="64" height="64"></object>
      </div>
      <div class="name">Mobile</div>
    </div>
  </div>
  <div class="small-2 columns">
    <div class="node icon" data-id="18225" data-name="Web Development" data-url="/services/web">
      <div class="svg-wrapper">
        <object type="image/svg+xml" data="assets/img/icons/WebDev2.svg" width="64" height="64"></object>
      </div>
      <div class="name">Web</div>
    </div>
  </div>
  <div class="small-2 columns">
    <div class="node icon" data-id="18258" data-name="Data Visualization" data-url="/services/data-visualization">
      <div class="svg-wrapper">
        <object type="image/svg+xml" data="assets/img/icons/DataVis.svg" width="64" height="64"></object>
      </div>
      <div class="name">Data Visualization</div>
    </div>
  </div>
  <div class="small-2 columns">
    <div class="node icon" data-id="18222" data-name="Integration" data-url="/services/integration">
      <div class="svg-wrapper">
        <object type="image/svg+xml" data="assets/img/icons/Integration.svg" width="64" height="64"></object>
      </div>
      <div class="name">Integration</div>
    </div>
  </div>
  <div class="small-1 columns end">&nbsp;</div>
  <div class="small-2 small-offset-1 columns">
    <div class="node icon" data-id="18234" data-name="Consulting" data-url="/services/consulting">
      <div class="svg-wrapper">
        <object type="image/svg+xml" data="assets/img/icons/Consulting.svg" width="64" height="64"></object>
      </div>
      <div class="name">Consulting</div>
    </div>
  </div>
  <div class="small-2 columns">
    <div class="node icon" data-id="18262" data-name="WordPress Development" data-url="/services/wordpress">
      <div class="svg-wrapper">
        <object type="image/svg+xml" data="assets/img/icons/WordpressDev.svg" width="64" height="64"></object>
      </div>
      <div class="name">WordPress</div>
    </div>
  </div>
  <div class="small-2 columns">
    <div class="node icon" data-id="18274" data-name="Design" data-url="/services/design">
      <div class="svg-wrapper">
        <object type="image/svg+xml" data="assets/img/icons/Design.svg" width="64" height="64"></object>
      </div>
      <div class="name">Design</div>
    </div>
  </div>
  <div class="small-2 columns">
    <div class="node icon" data-id="18224" data-name="IT Services" data-url="/services/it">
      <div class="svg-wrapper">
        <object type="image/svg+xml" data="assets/img/icons/IT.svg" width="64" height="64"></object>
      </div>
      <div class="name">IT Services</div>
    </div>
  </div>
  <div class="small-2 columns">
    <div class="node icon" data-id="18221" data-name="Training &amp; Workshops" data-url="/services/training">
      <div class="svg-wrapper">
        <object type="image/svg+xml" data="assets/img/icons/Training.svg" width="64" height="64"></object>
      </div>
      <div class="name">Training &amp; Workshops</div>
    </div>
  </div>
  <div class="small-1 columns">&nbsp;</div>
</div>
