<div class="row expanded intrestest-wrapper-bar animated show-for-large">
  <div class="small-12 columns small-centered">
    <div class="row">
      <div class="large-10 medium-6 small-12 columns">
        <h4 class="text-left" style="display: inline-block;">your interests</h4>
        <a class="button blue tiny intrest-item has-tip top" data-tooltip aria-haspopup="true" data-disable-hover="false" tabindex="2" title="Remove Interest">
          Interest Item 1 <i class="fa fa-times" aria-hidden="true"></i>
        </a>
        <a class="button blue tiny intrest-item has-tip top" data-tooltip aria-haspopup="true" data-disable-hover="false" tabindex="2" title="Remove Interest">
           Interest Item 2 <i class="fa fa-times" aria-hidden="true"></i>
        </a>
        <a class="button blue tiny intrest-item has-tip top" data-tooltip aria-haspopup="true" data-disable-hover="false" tabindex="2" title="Remove Interest">
          Interest Item 3 <i class="fa fa-times" aria-hidden="true"></i>
        </a>
        <a class="button blue tiny intrest-item has-tip top" data-tooltip aria-haspopup="true" data-disable-hover="false" tabindex="2" title="Remove Interest">
          Interest Item 4 <i class="fa fa-times" aria-hidden="true"></i>
        </a>
        <a class="button blue tiny intrest-item last has-tip top" data-tooltip aria-haspopup="true" data-disable-hover="false" tabindex="2" title="Remove Interest">
          If Last intrest is deleted <i class="fa fa-times" aria-hidden="true"></i>
        </a>
        <a href="#" class="button tiny has-tip top hollow clear-all-btn" data-tooltip aria-haspopup="true" data-disable-hover="false" tabindex="2" title="Clear All"> Clear All <i class="fa fa-times" aria-hidden="true"></i></a>
      </div>

      <div class="large-2 medium-6 small-12 columns">

        <a href="contact.html" class="button green tiny has-tip top float-right" data-tooltip aria-haspopup="true" data-disable-hover="false" tabindex="2" title="Proceed to Contact Us"><strong>Proceed <i class="fa fa-chevron-right" aria-hidden="true"></i></strong>
        </a>
      </div>
      <!-- <div class="large-2 medium-6 small-12 columns">
        <a href="javascript:void(0)" class="button alert tiny float-right">X</a>
      </div> -->
      <!-- <a href="javascript:void(0)" class="button alert tiny float-right">X</a> -->
    </div>
  </div>

</div>
