<div class="social-shares-wrapper {{share-align}}">
  <p>Do you know someone who might be interested? <b>Let them know!</b></p>
  <a href="javascript:void(0)" target="_blank" class="has-tip top" title="Share to Email" data-tooltip aria-haspopup="true" data-disable-hover="false" tabindex="2">
    <span class="fa-stack">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-envelope fa-stack-1x"></i>
    </span>
  </a>
  <a href="javascript:void(0)" target="_blank" class="has-tip top" title="Share to Linkedin" data-tooltip aria-haspopup="true" data-disable-hover="false" tabindex="2">
    <span class="fa-stack">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-linkedin fa-stack-1x"></i>
    </span>
  </a>
  <a href="javascript:void(0)" target="_blank" class="has-tip top" title="Share to Twitter" data-tooltip aria-haspopup="true" data-disable-hover="false" tabindex="2">
    <span class="fa-stack">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-twitter fa-stack-1x"></i>
    </span>
  </a>

  <a href="javascript:void(0)" target="_blank" class="has-tip top" title="Share to Facebook" data-tooltip aria-haspopup="true" data-disable-hover="false" tabindex="2">
    <span class="fa-stack">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-facebook fa-stack-1x"></i>
    </span>
  </a>
  <a href="javascript:void(0)" target="_blank"  class="has-tip top" title="Share to Google+" data-tooltip aria-haspopup="true" data-disable-hover="false" tabindex="2">
    <span class="fa-stack">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-google-plus fa-stack-1x"></i>
    </span>
  </a>
</div>
