<form class="log-in-form">
  <h4 class="text-center">Update Your Password</h4>
  <label>
    <!-- Email -->
    <input type="email" placeholder="somebody@example.com" readonly>
  </label>
  <label>
    <!-- Temparary Password -->
    <input type="password" placeholder="Temparary Password">
  </label>
  <hr>
  <label>
    <!-- New Password -->
    <input type="password" placeholder="New Password">
  </label>
  <label>
    <!-- Confirm Password -->
    <input type="password" placeholder="Confirm Password">
  </label>
  <p class="button expanded green" data-open="changepassword-confirm">Submit</p>
</form>
