<div class="row small-up-1 testimonials-1 align-middle">
  <div class="testimonials-wrapper">
    <div class="testimonial-block-vertical">
      <div class="testimonial-block-vertical-quote">
        <p><span>Our Beezwax developer made a tremendous difference.</span> He very quickly made our system so much easier to use -- and was such a pleasure to work with. We're thrilled to be back on the right track with our database.<br>Thank you.</p>
      </div>
      <div class="testimonial-block-vertical-person">
        <img class="testimonial-block-vertical-avatar" src="http://localhost:8000/assets/img/clients/adobe.png" alt="" />
        <div>
          <p class="testimonial-block-vertical-name">Loretta Edmonson</p>
          <p class="testimonial-block-vertical-info">Adobe</p>
        </div>
      </div>
    </div>
  </div>
</div>
