<div class="row expanded testimonials-3">
  <div class="testimonials-wrapper">
    <blockquote class="sunflower">
      <h4>Our Beezwax developer made a tremendous difference.</h4>
      <p>He very quickly made our system so much easier to use -- and was such a pleasure to work with. We're thrilled to be back on the right track with our database.<br>Thank you.</p>
      <p class="testimonial-block-vertical-name">Loretta Edmonson ~ Adobe</p>
      <!-- <p class="testimonial-block-vertical-info">Adobe</p> -->
    <!-- <code>
      &lt;blockquote class="<span class="Csunflower">sunflower</span>"&gt;
           Some Text...
       &lt;/blockquote&gt;
    </code> -->
    </blockquote>
  </div>
</div>
