<div class="reveal animated fadeInUp" id="welcome-modal-1" data-reveal data-close-on-click="false" data-animation-in="fade-in" data-animation-out="fade-out" data-additional-overlay-classes="welcome">


  <div class="row">
    <div class="small-12 columns">
      <h3>Welcome</h3>
      <p class="lead">This is a tailored experience</p>
    </div>
  </div>

  <div class="content-wrapper">
    <div class="row">
      <div class="small-12 columns">
        <p>Looks like you have come here via the wonderful email we have sent you. Lorem ipsum dolor amet leggings pabst vinyl, semiotics pickled viral jianbing etsy offal listicle banh mi. Farm-to-table kale chips asymmetrical hammock, shabby chic aesthetic raclette ethical ramps butcher drinking vinegar 8-bit literally. Umami shabby chic thundercats, mlkshk blue bottle cliche hoodie sriracha. Cronut vinyl sartorial mlkshk flexitarian pitchfork edison bulb, iPhone kickstarter direct trade single-origin coffee tousled hashtag bitters YOLO.</p>

        <h4>Tell Us about your Intrests</h4>

        <h5>Services</h5>
        <a class="button blue small intrest-itemproduct-btn" >
          <i class="fa fa-toggle-off child-filter has-tip top" data-tooltip aria-haspopup="true"
          data-disable-hover="false"
          data-click-open="false"
          tabindex="2" title="By turning on this Filter, the page will only display content based on this and other filters applied within your intrests."></i>

           This is the way it should look and feel! <i class="fa fa-times has-tip top" aria-hidden="true" data-tooltip aria-haspopup="true" data-disable-hover="false" tabindex="2" title="Remove Service"></i>
        </a>

        <select id="user-services-card" multiple="multiple" style="width:100%;">
          <!-- <option value="new">Add Intrestes</option> -->
          <option value="FileMaker Development" selected>FileMaker Development</option>
          <option value="User Interface Design (UI)" selected>User Interface Design (UI)</option>
          <option value="Charting" selected>Charting</option>
          <option value="Mobile Development" selected>Mobile Development</option>
          <option value="Training & Workshops" selected>Training & Workshops</option>
          <option value="Integration" selected>Integration</option>
          <option value="FileMaker Support">FileMaker Support</option>
          <option value="Networking">Networking</option>
          <option value="IT">IT</option>
          <option value="Web Development">Web Development</option>
          <option value="Data Cleanup">Data Cleanup</option>
          <option value="Migrating To Latest FileMaker Version">Migrating To Latest FileMaker Version</option>
          <option value="FileMaker System Redesign">FileMaker System Redesign</option>
          <option value="FileMaker and Web Integration">FileMaker and Web Integration</option>
          <option value="Plug-in Integration">Plug-in Integration</option>
          <option value="FileMaker Server Administration">FileMaker Server Administration</option>
          <option value="Network Topology Design">Network Topology Design</option>
          <option value="Network Wiring and Implementation">Network Wiring and Implementation</option>
          <option value="Router Configuration">Router Configuration</option>
          <option value="Map IT Infrastructure">Map IT Infrastructure</option>
          <option value="Hosting Services">Hosting Services</option>
          <option value="Server Configuration">Server Configuration</option>
          <option value="Server Co-Location">Server Co-Location</option>
          <option value="IT Consulting">IT Consulting</option>
          <option value="IT Training">IT Training</option>
          <option value="Web Store Integration">Web Store Integration</option>
          <option value="Consulting">Consulting</option>
          <option value="Requirements Gathering">Requirements Gathering</option>
          <option value="Opinion">Opinion</option>
          <option value="Needs Assessment">Needs Assessment</option>
          <option value="Business Analysis">Business Analysis</option>
          <option value="Technical Documentation">Technical Documentation</option>
          <option value="Troubleshooting">Troubleshooting</option>
          <option value="Upgrading from previous versions">Upgrading from previous versions</option>
          <option value="Database normalization">Database normalization</option>
          <option value="Data Visualization">Data Visualization</option>
          <option value="WordPress Development">WordPress Development</option>
          <option value="Solution-Specific Training">Solution-Specific Training</option>
          <option value="Configuration">Configuration</option>
          <option value="Data Migration">Data Migration</option>
          <option value="Export to Excel">Export to Excel</option>
          <option value="Going Beyond Excel">Going Beyond Excel</option>
          <option value="Design">Design</option>
          <option value="Dashboards">Dashboards</option>
          <option value="Inspector Consult">Inspector Consult</option>
          <option value="System Audit">System Audit</option>
          <option value="Database Repair">Database Repair</option>
          <option value="IT support">IT support</option>
          <option value="Code Readability">Code Readability</option>
          <option value="Code Maintainability">Code Maintainability</option>
          <option value="Code Quality">Code Quality</option>
          <option value="Agile Development">Agile Development</option>
          <option value="Database Administration">Database Administration</option>
          <option value="Web Services / REST APIs">Web Services / REST APIs</option>
          <option value="Graphic Design">Graphic Design</option>
          <option value="Data Syncing">Data Syncing</option>
          <option value="Data Modeling">Data Modeling</option>
          <option value="Data Analysis">Data Analysis</option>
          <option value="SEO">SEO</option>
          <option value="FileMaker PHP">FileMaker PHP</option>
          <option value="Prototyping">Prototyping</option>
          <option value="Directory and Authentication">Directory and Authentication</option>
          <option value="Technical Support">Technical Support</option>
          <option value="Product Management">Product Management</option>
          <option value="Quality Assurance">Quality Assurance</option>
          <option value="Email Integration">Email Integration</option>
          <option value="Network Engineering">Network Engineering</option>
          <option value="Security">Security</option>
          <option value="Deployment">Deployment</option>
          <option value="Data Management">Data Management</option>
          <option value="Data Mining">Data Mining</option>
          <option value="Your wishlist come true">Your wishlist come true</option>
          <option value="Optimization">Optimization</option>
          <option value="FileMaker Power User Training">FileMaker Power User Training</option>
          <option value="Basic FileMaker Development Training">Basic FileMaker Development Training</option>
          <option value="Advanced FileMaker Development Training">Advanced FileMaker Development Training</option>
          <option value="Network Security">Network Security</option>
          <option value="Testing">Testing</option>
          <option value="Setup">Setup</option>
          <option value="FileMaker Training">FileMaker Training</option>
          <option value="Automating Tasks">Automating Tasks</option>
          <option value="Licensing Fullfillment">Licensing Fullfillment</option>
          <option value="Writing User Stories">Writing User Stories</option>
          <option value="App Development">App Development</option>
          <option value="Organization Development Consulting">Organization Development Consulting</option>
          <option value="Business Workflow Applications">Business Workflow Applications</option>
          <option value="Form Submission and Processing">Form Submission and Processing</option>
          <option value="Legacy System Improvements">Legacy System Improvements</option>
          <option value="Reports">Reports</option>
          <option value="Export to PDF">Export to PDF</option>
          <option value="Email Import and Processing">Email Import and Processing</option>
          <option value="Data Search">Data Search</option>
          <option value="Software as a Service (SaaS)">Software as a Service (SaaS)</option>
          <option value="Junk Mail filtering">Junk Mail filtering</option>
          <option value="Server Backup Procedure">Server Backup Procedure</option>
          <option value="Account Management">Account Management</option>
          <option value="Project Management">Project Management</option>
          <option value="FileMaker Scripting">FileMaker Scripting</option>
          <option value="FileMaker Calculations">FileMaker Calculations</option>
          <option value="FileMaker Custom Functions">FileMaker Custom Functions</option>
          <option value="Cross-browser deployment">Cross-browser deployment</option>
          <option value="FileMaker Accounts & Privileges">FileMaker Accounts & Privileges</option>
          <option value="Schema Naming Conventions Standardization">Schema Naming Conventions Standardization</option>
          <option value="Single-Page Application">Single-Page Application</option>
          <option value="web framework (CakePHP, Zend, …)">web framework (CakePHP, Zend, …)</option>
          <option value="FileMaker SQL">FileMaker SQL</option>
          <option value="Interaction Design (IxD)">Interaction Design (IxD)</option>
          <option value="Database Development">Database Development</option>
          <option value="System Redesign">System Redesign</option>
          <option value="System Administration">System Administration</option>
          <option value="Linux System Administration">Linux System Administration</option>
          <option value="Open Source publishing">Open Source publishing</option>
          <option value="Product Design">Product Design</option>
          <option value="Custom Software Development">Custom Software Development</option>
          <option value="Software Architecture">Software Architecture</option>
          <option value="Systems Architecture">Systems Architecture</option>
          <option value="Vendor Portal Development">Vendor Portal Development</option>
          <option value="Single Sign-On (SSO)">Single Sign-On (SSO)</option>
        </select>
        <!-- <small>Type in your intrest to select from the options.</small> -->
        <hr class="small">

        <h4>Goals</h4>
        <select id="user-goals-card" multiple="multiple" style="width:100%;">
          <option>	Reporting	</option>
          <option>	Security enhancement	</option>
          <option>	Increase efficiency	</option>
          <option>	Offer a new service	</option>
          <option>	Strengthen partnerships	</option>
          <option>	Use Web more effectively	</option>
          <option>	Know what's happening in your business	</option>
          <option>	Start a new business	</option>
          <option>	Goof off	</option>
          <option>	Productivity	</option>
          <option>	Teamwork	</option>
          <option>	Brainstorm	</option>
          <option>	Return On Investment	</option>
          <option>	Building Trust	</option>
          <option>	Transparency	</option>
          <option>	Collaboration ;)	</option>
          <option>	Innovation	</option>
          <option>	Sustainability / the Triple Bottom Line	</option>
          <option>	Recession Preparedness	</option>
          <option>	Mindfulness	</option>
          <option>	Relaxation	</option>
          <option>	Competitive Advantage	</option>
          <option>	Love your job	</option>
          <option>	Creativity	</option>
          <option>	Exactly So	</option>
          <option>	Work Flexibility	</option>
          <option>	Work-life Balance	</option>
          <option>	Accountability	</option>
          <option>	Distributed Workforce	</option>
          <option>	Scaling Your Business	</option>
          <option>	*Your Goals	</option>
          <option>	Hiring	</option>
          <option>	Train Staff	</option>
          <option>	Market your offerings	</option>
          <option>	Better understand your business	</option>
          <option>	Figure it out as we go	</option>
          <option>	Resource conservation	</option>
          <option>	Paperless Office	</option>
          <option>	Diversity and Inclusion	</option>
          <option>	Remote User Performance	</option>
          <option>	Mergers & Acquisitions	</option>
          <option>	Reduce your costs	</option>
          <option>	Confidence in Technology Partner	</option>
          <option>	No commitment required; On-call support	</option>
          <option>	Mobile Workforce	</option>
          <option>	Not having to think about our info systems	</option>
          <option>	Better Managerial Oversight	</option>
        </select>
        <!-- <small>Type in your Goals to select from the options.</small> -->

        <h4>Functional Areas</h4>
        <select id="user-functional-areas-card" multiple="multiple" style="width:100%;">
          <option>	*Our Functional Areas	</option>
          <option>	Email marketing	</option>
          <option>	Customer Relationship Management	</option>
          <option>	Project Management	</option>
          <option>	Time Tracking	</option>
          <option>	Asset Management	</option>
          <option>	Accounting	</option>
          <option>	Scheduling	</option>
          <option>	Event Management	</option>
          <option>	Inventory Management	</option>
          <option>	Calendaring	</option>
          <option>	Fundraising	</option>
          <option>	Surveys	</option>
          <option>	Curriculum	</option>
          <option>	Human Resources	</option>
          <option>	Registration	</option>
          <option>	Studio Management	</option>
          <option>	Contract Management	</option>
          <option>	Royalties Management	</option>
          <option>	Print Production	</option>
          <option>	Credit Card Processing	</option>
          <option>	POS	</option>
          <option>	Video and Audio Engineering	</option>
          <option>	HIPAA Compliance	</option>
          <option>	Content Management	</option>
          <option>	Issue Tracking	</option>
          <option>	Communications	</option>
          <option>	Compliance	</option>
          <option>	eCommerce	</option>
          <option>	Contact Management	</option>
          <option>	Incident Tracking	</option>
          <option>	Legal Notices	</option>
          <option>	Marketing	</option>
          <option>	Facilities Management	</option>
          <option>	Space Planning	</option>
          <option>	Telecommunications	</option>
          <option>	Supply Management	</option>
          <option>	Ordering Systems	</option>
          <option>	Globalization	</option>
          <option>	Internationalization	</option>
          <option>	Localization	</option>
          <option>	Vendor Management	</option>
          <option>	Finance	</option>
          <option>	Headcount	</option>
          <option>	Forecasting	</option>
          <option>	User Support	</option>
          <option>	Support Quality Management	</option>
          <option>	Construction	</option>
          <option>	Transportation	</option>
          <option>	Manufacturing	</option>
          <option>	Hardware Engineering	</option>
          <option>	Security	</option>
          <option>	Information Security	</option>
          <option>	Advertising	</option>
          <option>	Legal	</option>
          <option>	Intellectual Property	</option>
          <option>	Document Management	</option>
          <option>	Software Engineering	</option>
          <option>	Billing/Invoicing	</option>
          <option>	Account Management	</option>
          <option>	Video and Audio production	</option>
          <option>	Recruitment	</option>
          <option>	Training	</option>
          <option>	Office Management	</option>
          <option>	Sales	</option>
          <option>	Document Generation	</option>
          <option>	Process Design	</option>
          <option>	IT Services	</option>
          <option>	Operations	</option>
          <option>	Big Data	</option>
          <option>	Research and Development	</option>
          <option>	Testing	</option>
          <option>	Administration	</option>
          <option>	Business Continuity	</option>
          <option>	Program Management	</option>
          <option>	Strategic Planning	</option>
          <option>	Market Research	</option>
          <option>	Process Management	</option>
          <option>	Procurement Management	</option>
          <option>	Laboratory Management	</option>
          <option>	Budgeting	</option>
          <option>	Partnership Management	</option>
          <option>	Payroll	</option>
          <option>	Product Development	</option>
          <option>	Quality Assurance	</option>
          <option>	Retail	</option>
        </select>
        <!-- <small>Type in your Goals to select from the options.</small> -->

        <h4>Industry</h4>
        <select id="user-intrests-industry-card" multiple="multiple" style="width:100%;">
          <option>Publishing</option>
          <option>Arts & Entertainment</option>
          <option>Consulting</option>
          <option>Creative & Media</option>
          <option>Education</option>
          <option>Engineering</option>
          <option>Environmental</option>
          <option>Finance & Legal</option>
          <option>Food</option>
          <option>Government</option>
          <option>Health</option>
          <option>Hospitality & Transportation</option>
          <option>Human Resources</option>
          <option>Marketing & Communications</option>
          <option>Non-Profit</option>
          <option>Organization Development</option>
          <option>Real Estate</option>
          <option>Science & Research</option>
          <option>Spirituality</option>
          <option>Technology</option>
          <option>Wholesale & Retail</option>
          <option>*Your Industry</option>
          <option>(Construction)</option>
          <option>(Insurance)</option>
          <option>(Sports)</option>
          <option>(Manufacturing)</option>
        </select>
        <!-- <small>Type in your Goals to select from the options.</small> -->

        <h4>Products</h4>
        <select id="user-intrest-products-card" multiple="multiple" style="width:100%;">
          <option title="Built from the ground up using the FileMaker Platform, InspectorPro offers advanced diagnostics, in-depth analysis, and data visualization to improve collaboration, performance and insight for FileMaker teams. InspectorPro has long been recognized as the leading FileMaker diagnostic tool.">InspectorPro</option>
          <option>XML Generator</option>
          <option>@ SQL Sugar for FileMaker</option>
          <option>bBox</option>
          <option>PiVOT</option>
          <option>Web Services Plug-in</option>
          <option>360Works SuperContainer</option>
          <option>Troi File</option>
          <option>360Works ScriptMaster</option>
          <option>SeedCode GoZync</option>
          <option>TextMate Bundle for FileMaker</option>
          <option>Our Products</option>
          <option>The Hive Organizer</option>
          <option>Hive Contacts</option>
          <option>"Clients Matter" Accounting Solution</option>
          <option>Bento</option>
          <option>Propolis</option>
          <option>Dragon Web Surveys</option>
          <option>Divvy-up</option>
          <option>FMCakeMix</option>
          <option>SyncDek</option>
          <option>HiveHelp</option>
          <option>myFMbutler DoSQL</option>
          <option>FMBooksConnector (QB to FM)</option>
          <option>JobPro Central</option>
          <option>MirrorSync</option>
          <option>FMAR Plugin</option>
          <option>AidellsSausageApp</option>
          <option>Gore Management App</option>
          <option>OfficeHub App</option>
          <option>HiveMine</option>
          <option>Systems the Trojan Horse</option>
          <option>Wedding DB</option>
          <option>WebDev Challenge App</option>
          <option>Job Skills Training System</option>
          <option>A Ruby Gem or several</option>
          <option>JavaScript Widgets</option>
          <option>Publish To Apple News</option>
          <option>Accounts</option>
          <option>Errbit</option>
          <option>LOgiCATOR</option>
          <option>EmailPro</option>
          <option>Server-Side Swift FileMaker Extensions</option>
          <option>Harvest Replacement (Redmine Replacement.. WebTool)...</option>
          <option>Barcode Creator</option>
          <option>Zulu</option>
          <option>Stripe</option>
          <option>Blockchain</option>
        </select>
        <!-- <small>Type in your Goals to select from the options.</small> -->


        <!-- <a class="button blue tiny intrest-item has-tip top product-btn" data-tooltip aria-haspopup="true" data-disable-hover="false" tabindex="2" title="Remove Intrest">
           Mobile Development <i class="fa fa-times" aria-hidden="true"></i>
        </a>
        <a class="button blue tiny intrest-item has-tip top product-btn" data-tooltip aria-haspopup="true" data-disable-hover="false" tabindex="2" title="Remove Intrest">
           Integration <i class="fa fa-times" aria-hidden="true"></i>
        </a>
        <a class="button blue tiny intrest-item has-tip top product-btn" data-tooltip aria-haspopup="true" data-disable-hover="false" tabindex="2" title="Remove Intrest">
           Charting <i class="fa fa-times" aria-hidden="true"></i>
        </a>
        <a class="button blue tiny intrest-item has-tip top product-btn" data-tooltip aria-haspopup="true" data-disable-hover="false" tabindex="2" title="Remove Intrest">
           Migrating to FileMaker 17 <i class="fa fa-times" aria-hidden="true"></i>
        </a> -->
      </div>
      <hr>

      <div class="small-12 columns">
        <h4>intrests</h4>
      </div>
      <div class="small-8 columns">
        <p>If you are intrested in anything you see, look for the star to add it to your cart, and this will automagically attached  to your "profile???".</p>
      </div>
      <div class="small-4 columns">
        <p class="text-center">{{>interested-btn}}</p>
      </div>
      <hr>

      <div class="small-12 medium-7 columns">
        <p>At first, we will only show you a tease of our full breath of services and solutions. If you want to learn more, flip the switch at the bottom of screen to see the "in-depth" of our services, client list, technology stack and, functional areas.</p>
      </div>
      <div class="small-12 medium-5 columns">
        <div class="toggle-wrapper services" style="top: 0; width: 100%; margin-left: 0; border-radius: 0; margin-bottom: 0; background-color: transparent;padding:10px 0 0 0;">
          <!-- <p>Flip the switch to see the truth depth of our capabilities.</p> -->
          <div class="switch small">
            <span class="pre">INTRO</span>
            <input class="switch-input" id="welcome-intro-advanced" type="checkbox" name="exampleSwitch">
            <label class="switch-paddle" for="welcome-intro-advanced">
              <span class="show-for-sr">How deeap do you want to get</span>
              <span class="switch-inactive" aria-hidden="true"></span>
              <span class="switch-active" aria-hidden="true"></span>
            </label>
            <span class="post">IN-DEPTH</span>
          </div>
        </div>
      </div>
      <hr>
    </div>


    <!-- <div class="row">
      <div class="small-12 columns">
        <h4>intrests</h4>
      </div>
      <div class="small-8 columns">
        <p>If you are intrested in anything you see, look for the star to add it to your cart, and this will automagically attached  to your "profile???".</p>
      </div>
      <div class="small-4 columns">
        <p class="text-center">{{>interested-btn}}</p>
      </div>
      <hr>
    </div> -->

    <div class="row hide">
      <div class="small-12 columns">
        <h4>Filters</h4>
      </div>
      <div class="small-6 columns">
        <p>After you added an intrest, you are able to filter the conent of the site based on your selections. In the intrest cards, simply toggle to filter the content.</p>
      </div>
      <div class="small-6 columns">
        <img src="{{root}}assets/img/help/filters-1.png" alt="">
      </div>
      <hr>
    </div>

    <div class="text-center">
        <p class="button green text-center" data-close aria-label="Close reveal" onclick="$('.intrestest-wrapper-bar.version-3').removeClass('hide').addClass('slideInUp')"> Start your journy </p>
    </div>

    <div class="text-left hide">
      <p><small>Legal stuff here about cookies, profiles, etc… You may choose to offer, and charge a fee for, acceptance of this License, you must indicate in any resulting litigation. Definitions.</small></p>
    </div>


  </div>


  <button class="close-button" data-close aria-label="Close reveal" type="button" onclick="$('.intrestest-wrapper-bar.version-3').removeClass('hide').addClass('slideInUp')">
    <span aria-hidden="true">&times;</span>
  </button>


</div>
