<div class="row expanded why-photos-wrapper">
{{#repeat 1}}
  {{#each global.photos-by}}
  <div class="small-1 columns" style="pointer-events: none;">
    <div class="card-wrapper card-1" style="height: 96.66px;">
      {{#if video}}
        <div class="image-wrapper" style="background-image:url('{{img-url}}');"> </div>
      {{else}}
      <div class="image-wrapper" style="background-image:url('{{img-url}}');"> </div>
      {{/if}}
    </div>
  </div>
  {{/each}}
{{/repeat}}

<!-- <div class="overlay"> </div> -->
  <div class="small-12 medium-8 small-centered columns">
    <h3>Why we use photos taken by beez…</h3>
    <p>
      Ita o illum labore esse. Anim ne quibusdam eu irure est litteris multos anim est nisi ne tamen singulis instituendarum, dolor graviterque constias dolore quibusdam. E senserit ex proident, officia ipsum fabulas et id constias tractavissent, id sed noster quae cillum. Vidisse quem fore nescius illum.Appellat illum quem an ipsum, ea ubi despicationes. Si ad quae quamquam. Id sunt vidisse admodum, ex de dolor velit aute aut ubi ita consectetur ubi
      nescius hic proident.
    </p>
  </div>
  <div class="small-12 medium-8 small-centered columns">
    <a href="" class="button small hollow white "> Learn More</a>
  </div>


</div>
