<div class="row small-up-1 whys align-middle">
  <div class="whys-wrapper">
    <p class="header">WHY US…</p>
    <div class="why-content animated fadeIn">
      <h4>INNOVATION</h4>
      <p>If your organization is unique, you can’t rely on an out-of-the-box solution. Custom software that's tailored to your workflow will inevitably propel it forward. Seeing your innovation baked into your own software allows for better training, insights, pivots, breakthroughs. Fun stuff.</p>
    </div>
  </div>
</div>
